<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--
        This file is part of the DailyTopicTracker project.
        Please refer to the project's README.md file for additional details.
        https://github.com/turkerozturk/springtopiccalendar
        -->
    <meta charset="UTF-8"/>
    <title>Category Info</title>

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon-180x180.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/css/all.min.css}">

</head>
<body class="container mt-5">

<a href="/reports/all">
    ◀️ Intelligent Report View
</a>
<h2>Category Info</h2>

<div class="card mt-3">
    <div class="card-body">
        <h5 class="card-title" th:text="${'Category Name: ' + category.name}">Category Name</h5>
        <a th:href="@{/topics(categoryId=${category.id})}"
           target="_self" th:title="${category.name}">☰ Topics
        </a>

        <a th:href="@{/categories/delete/{id}(id=${category.id})}"
           title="Delete Category"
           onclick="return confirmDelete()">
            🗑 Delete
        </a>
        &nbsp;
        <!-- Her kategori satırında, yeni topic oluşturma linki -->
        <a th:href="@{/topics/create(categoryId=${category.id})}"
           target="_blank" title="Add Topic">
            ＋ New Topic
        </a>
        &nbsp;

        <a th:if="${!category.archived}"
           style="display: inline-block; white-space: normal;"
           th:href="@{/entry-filter/form?categoryId={id}(id=${category.id})}"
        >
            <i class="fa-solid fa-gear" style="color: #FFD43B;"></i> Tracker
        </a>



        <i th:if="${category.archived}" class="fa-solid fa-gear" style="color: gray;"></i>

        &nbsp;

        <a th:href="@{/categories/edit/{id}(id=${category.id}, returnPage='categories')}" title="Edit Category">
            ✎
        </a>

        <p class="card-text">
            <strong>Category Group:</strong>
            <span th:text="${category.categoryGroup.name}">Group Name</span>
        </p>
        <p class="card-text">
            <strong>Archived:</strong>
            <span th:text="${category.archived ? 'Yes' : 'No'}">No</span>
        </p>
        <p class="card-text">
            <strong>Topics:</strong>
            <span th:if="${#lists.isEmpty(category.topics)}">No topics available.</span>
            <th:block th:unless="${#lists.isEmpty(category.topics)}">
                    <ul th:each="topic, iterStat : ${category.topics}">
                        <li><a th:href="@{/entries(topicId=${topic.id})}" th:text="${topic.name}">Topic Name</a></li>
                    </ul>
                </th:block>
        </p>

    </div>
</div>

<script>
    function confirmDelete() {
        return confirm("Are you sure to delete this category?");
    }
</script>

</body>
</html>
