<!-- src/main/resources/templates/category-groups/list.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Category Groups</title>


    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/css/all.min.css}">

    <style>

        a {
        text-decoration: none;
        color: inherit;
        }

        a:visited {
            color: inherit;
        }

        a:hover {
            color: blue;
        }
    </style>

</head>
<body class="p-4">
<div class="container">
    <div class="align-center-horizontal">
        <a href="/" class="btn btn-secondary btn-sm">Home</a>
        <a href="/categories" class="btn btn-secondary btn-sm">Categories</a>
        <a href="/entry-filter/form" class="btn btn-secondary btn-sm" th:text="#{tracker}">Tracker</a>
        <a href="/topics" class="btn btn-secondary btn-sm">Topics</a>
        <a href="/entries" class="btn btn-secondary btn-sm">Entries</a>
        <a href="/category-groups/new" class="btn btn-success mb-3">New Group</a>

    </div>


    <h1>Category Groups</h1>

    <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>
    <div th:if="${success}" class="alert alert-success" th:text="${success}"></div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Categories</th>
            <th class="text-end">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="grp : ${groups}">
            <td th:text="${grp.id}">1</td>
            <td th:text="${grp.name}">Group Name</td>
            <td>&nbsp;|&nbsp;
                <th:block th:each="cat : ${grp.categories}">
                    <a th:href="@{/entry-filter/form?categoryId={id}(id=${cat.id})}"
                       th:text="${cat.name}"></a>
                    <a th:href="@{/categories/edit/{id}(id=${cat.id})}"
                       th:title="${cat.name} + ' [click to edit this category on a new page]' "
                       target="_blank"
                    >✎</a>

                    &nbsp;|&nbsp;

                </th:block>
            </td>
            <td class="text-end">
                <a th:href="@{/category-groups/edit/{id}(id=${grp.id})}"
                   class="btn btn-sm btn-outline-secondary">Edit</a>
                <a th:href="@{/category-groups/delete/{id}(id=${grp.id})}"
                   class="btn btn-sm btn-outline-danger"
                   onclick="return confirm('Delete this group?');">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<script type="text/javascript"
        th:src="@{/webjars/bootstrap/5.3.5/js/bootstrap.min.js}"></script>
</body>
</html>
