<!--
This file is part of the DailyTopicTracker project.
Please refer to the project's README.md file for additional details.
https://github.com/turkerozturk/springtopiccalendar
-->

<div xmlns:th="http://www.thymeleaf.org" th:remove="tag">


<table class="table-bordered">

    <caption style="background-color:black;">
        <h4 th:text="${topic.name}" style="font-weight:bold;color:white;text-align:right;margin-right:130px;"></h4>
    </caption>

    <thead>
    <th></th>
    <th:block th:each="columnDate : ${topColumnDates}">
        <th th:text="${columnDate}"></th>
    </th:block>
    <th></th>
    </thead>

    <tbody>
    <tr th:each="dayMap, stat : ${weeklyMaps}">
        <td th:text="${dayNames[stat.index]}"> </td>


        <th:block th:each="entry : ${dayMap}">


            <th:block th:if="${entry.value != null }">
                <td th:title="${entry.key} + ' ' + ${entry.value.id}" th:class="'weekly-table-entry-cell status-' + ${entry.value.status}" >
                </td>
            </th:block>

            <!-- 2a) Eğer hiç entry yoksa 'New Entry' linki göster -->
            <th:block th:if="${entry.value == null }">
                <td class="weekly-table-entry-cell"  th:title="${entry.key}">
                    &nbsp;
                </td>
            </th:block>





        </th:block>

        <td th:text="${dayNames[stat.index]}"> </td>







    </tr>
    </tbody>

    <tfoot>
    <th></th>
    <th:block th:each="columnDate : ${bottomColumnDates}">
        <th th:text="${columnDate}"></th>
    </th:block>
    <th></th>
    </tfoot>


</table>



</div>

