<!--
This file is part of the DailyTopicTracker project.
Please refer to the project's README.md file for additional details.
https://github.com/turkerozturk/springtopiccalendar
-->

<div xmlns:th="http://www.thymeleaf.org" th:remove="tag">


<table class="table-bordered">

    <caption style="background-color:black;">
        <h4 th:text="${topic.name}" style="font-weight:bold;color:white;text-align:right;margin-right:130px;"></h4>
    </caption>

    <thead>
    <th></th>
    <th:block th:each="columnDate : ${topColumnDates}">
        <th th:text="${columnDate}"></th>
    </th:block>
    <th></th>
    </thead>

    <tbody>
    <tr th:each="dayMap, stat : ${weeklyMaps}">
        <td th:text="${dayNames[stat.index]}"> </td>


        <th:block th:each="entry : ${dayMap}">


            <th:block th:if="${entry.value != null }">
                <td th:title="${entry.key} + ' ' + ${entry.value.id}" th:class="'weekly-table-entry-cell status-' + ${entry.value.status}" >
                </td>
            </th:block>

            <!-- 2a) Eğer hiç entry yoksa 'New Entry' linki göster -->
            <th:block th:if="${entry.value == null }">
                <td class="weekly-table-entry-cell"  th:title="${entry.key}">
                    &nbsp;
                </td>
            </th:block>





        </th:block>

        <td th:text="${dayNames[stat.index]}"> </td>







    </tr>
    </tbody>

    <tfoot>
    <th></th>
    <th:block th:each="columnDate : ${bottomColumnDates}">
        <th th:text="${columnDate}"></th>
    </th:block>
    <th></th>
    </tfoot>


</table>






<div class="row">
            <span class="col-4">

            </span>
            <span class="col-4">

                <!-- top streaks chart -->
                <table style="width: 100%">
                    <caption style="text-align:center;color:DarkGray !important;">
                        Top Streaks
                    </caption>
                    <tbody>

                    <tr>
                        <td colspan="3" style="text-align:center;">Stats between today and 365 days ago</td>
                    </tr>

                    <tr th:each="streak : ${uniqueTopStreaks}" style="height: 30px;">
                        <!-- Start Date -->
                        <td style="width: 100px; text-align: right; padding-right: 10px;">
                            <span th:text="${streak.startDate}"></span>
                        </td>

                        <!-- Bar with Count -->
                        <td style="width: 100%; text-align: center; background-color:WhiteSmoke;">
                            <div
                                 th:style="'background-color: #e35b93 !important; height: 20px; color: white !important;
                             text-align: center !important; font-weight: bold; margin:auto;
                             width:' + (${streak.percentage} * 15) + 'px;'"
                                 th:text="${streak.dayCount}"></div>
                        </td>

                        <!-- End Date -->
                        <td style="width: 100px; text-align: left; padding-left: 10px;">
                            <span th:text="${streak.endDate}"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <th:block th:if="${newestStreak != null}">
                    <!-- newest streak chart -->
                    <table style="width: 100%">
                        <caption style="text-align:center;color:DarkGray !important;">
                            Newest Streak
                        </caption>
                        <tbody>
                        <tr style="height: 30px;">
                            <!-- Start Date -->
                            <td style="width: 100px; text-align: right; padding-right: 10px;">
                                <span th:text="${newestStreak.startDate}"></span>
                            </td>

                            <!-- Bar with Count -->
                            <td style="width: 100%; text-align: center; background-color:WhiteSmoke;">
                                <div
                                        th:style="'background-color: #c33b73 !important; height: 20px; color: white !important;
                                 text-align: center !important; font-weight: bold; margin:auto;
                                 width:' + (${newestStreak.percentage} * 15) + 'px;'"
                                        th:text="${newestStreak.dayCount}"></div>
                            </td>

                            <!-- End Date -->
                            <td style="width: 100px; text-align: left; padding-left: 10px;">
                                <span th:text="${newestStreak.endDate}"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </th:block>



            </span>


            <span class="col-2">

                <!-- some statistics -->
                <table class="table table-sm table-bordered">
                    <caption style="text-align:center;color:DarkGray !important;">
                        Entry statuses between today and 365 days ago
                    </caption>
                    <thead>
                    <tr>
                        <th>Weekday</th>
                        <th>Note</th>
                        <th>Done</th>
                        <th>Warn</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="i : ${#numbers.sequence(0, 6)}">
                        <td th:text="${dayNames[i]}"></td>
                        <td th:text="${status0[i]}"></td>
                        <td th:text="${status1[i]}"></td>
                        <td th:text="${status2[i]}"></td>
                    </tr>
                    <tr>
                        <td><b>Total</b></td>
                        <td th:text="${totalStatus0}" class="status-0" style="font-weight:bold;"></td>
                        <td th:text="${totalStatus1}" class="status-1" style="font-weight:bold;"></td>
                        <td th:text="${totalStatus2}" class="status-2" style="font-weight:bold;"></td>


                    </tr>
                    </tbody>
                </table>

            </span>

            <span class="col-2">

                <!-- chart -->

                <canvas id="status1Chart" ></canvas>
            </span>
</div>

    <script>
        (() => {
            const existingChart = Chart.getChart("streakChart");
            if (existingChart) {
                existingChart.destroy();
            }

            const labels = /*[[${labelsJson}]]*/ [];
            const dataValues = /*[[${dataJson}]]*/ [];

            const data = {
                labels: labels,
                datasets: [{
                    label: 'Gün Sayısı',
                    data: dataValues,
                    backgroundColor: 'rgba(33, 99, 132, 0.6)',
                    borderColor: 'rgba(33, 99, 132, 1)',
                    borderWidth: 1,
                    barThickness: 20
                }]
            };

            const config = {
                type: 'bar',
                data: data,
                options: {
                    indexAxis: 'y',
                    responsive: true,
                    plugins: {
                        legend: { display: false },
                        tooltip: {
                            callbacks: {
                                label: ctx => ` ${ctx.raw} gün`
                            }
                        }
                    },
                    scales: {
                        x: { beginAtZero: false }
                    }
                }
            };

            new Chart(
                document.getElementById('streakChart'),
                config
            );
        })();
    </script>


    <script th:inline="javascript">
        /*<![CDATA[*/
        var status1Counts = [[${status1}]];
        var labels = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];

        new Chart(document.getElementById('status1Chart'), {
            type: 'pie',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Status 1 Entries',
                    data: status1Counts,
                    backgroundColor: [
                        '#FF6384', '#36A2EB', '#FFCE56', '#4BC0C0',
                        '#9966FF', '#FF9F40', '#66BB6A'
                    ]
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Distribution of entries marked as "Done" by day of the week'
                    }
                }
            }
        });
        /*]]>*/
    </script>


</div>

