<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Entry Listesi</title>
</head>
<body>
<a href="/">home</a>


<h1>Entries</h1>

<a th:href="@{/entries/new}">Yeni Entry Ekle</a><br/><br/>
<br />
<a href="entry-filter/form">entry-filter/form</a>
<table border="1">
    <thead>
    <tr>
        <th>Aksiyon</th>
        <th>ID</th>
        <th>Topic</th>
        <th>Date</th>
        <th>Status</th>
        <th>Note</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entry : ${entries}">
        <td>
            <a th:href="@{/entries/edit/{id}(id=${entry.id})}">Düzenle</a> |
            <a th:href="@{/entries/delete/{id}(id=${entry.id})}"
               onclick="return confirmDelete()">Sil</a>
        </td>
        <td th:text="${entry.id}"></td>
        <td th:text="${entry.topic != null ? entry.topic.name : 'N/A'}"></td>
        <td th:text="${T(java.time.format.DateTimeFormatter).ofPattern('yyyy-MM-dd')
                .format(T(java.time.Instant).ofEpochMilli(entry.dateMillisYmd)
                .atZone(T(java.time.ZoneId).systemDefault())
                .toLocalDate())}"
            th:title="${entry.dateMillisYmd}"
        >        </td>
        <td th:text="${entry.status}"></td>
        <td th:text="${entry.note != null ? entry.note.content : ''}"></td>
    </tr>
    </tbody>
</table>
<script>
    function confirmDelete() {
        return confirm("Bu entry kaydını silmek istediğinize emin misiniz?");
    }
</script>
</body>
</html>
