<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*
    This file is part of the DailyTopicTracker project.
    Please refer to the project's README.md file for additional details.
    https://github.com/turkerozturk/springtopiccalendar
    */-->
    <title>Daily Topic Tracker</title>
    <meta charset="UTF-8">


    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <!--/* favicon */-->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon-180x180.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/css/all.min.css}">



    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap-datepicker/dist/css/bootstrap-datepicker.css}">

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/datatables/2.3.0/css/dataTables.jqueryui.min.css}">


    <style>
        body { font-family: Arial; margin: 20px; }
        table { border-collapse: collapse; width: 100%; }
        th, td { border: 1px solid #ccc; padding: 8px; text-align: center; }
        th { background-color: #f5f5f5; }
        .total { font-weight: bold; background-color: #e8f5e9; }

        .vurgula {
          font-size: 1.875em;
          background-color: lightgreen;
        }

        .az-vurgula {
          background-color: #cceecc;
        }

        .az-vurgula2 {
          background-color: #c5e7c5;
        }

        .daha-az-vurgula {
          background-color: #eeeecc;
        }

      .status-0 {
        background-color: gainsboro !important;
      }
      .status-1 {
        background-color: palegreen !important;
      }
      .status-2 {
        background-color: tomato !important;
      }

      .status-fg-0 {
        color: gainsboro !important;
      }
      .status-fg-1 {
        color: palegreen !important;
      }
      .status-fg-2 {
        color: tomato !important;
      }
    </style>


    <style>
        * {
          box-sizing: border-box;
        }

        .row {
          margin-left:-5px;
          margin-right:-5px;
        }

        .column {
          float: left;
          width: 50%;
          padding: 5px;
        }

        /* Clearfix (clear floats) */
        .row::after {
          content: "";
          clear: both;
          display: table;
        }

        table {
          border-collapse: collapse;
          border-spacing: 0;
          width: 100%;
          border: 1px solid #ddd;
        }

        th, td {
          text-align: left;
          padding: 16px;
        }

        tr:nth-child(even) {
          background-color: #f2f2f2;
        }
    </style>
</head>
<body>

<h2><!-- Sol tarafta logo veya Home -->
    <a class="navbar-brand" href="/" target="_blank">🏠 Home</a> | Daily Calorie Tracker
</h2>

<table class="table table-sm" style="max-width: 400px;">
    <thead>
    <tr><td>Haftada Yarım Kilo Vermek İçin</td><td>Bazal Metabolizma için</td><td>Haftada Yarım Kilo Almak İçin</td><th>&nbsp;</th><th>Günlük kalori ihtiyacı</th><th>Bugünkü Durum</th></tr>
    </thead>
    <tbody>
    <tr><td th:text="${summary.fsd.humanBody.weightLossCalories}"></td><td th:text="${summary.fsd.humanBody.bmr}"></td><td th:text="${summary.fsd.humanBody.weightGainCalories}"></td><th>kcal</th><td th:text="${summary.fsd.humanBody.tdee}"></td><td th:text="${#numbers.formatDecimal(summary.fsd.totalKcal,1,2)}"> kcal</td></tr>
    <tr><td th:text="${summary.fsd.humanBody.fatGramsForLoss}">&nbsp;</td><td th:text="${summary.fsd.humanBody.fatGramsForBMR}">&nbsp;</td><td th:text="${summary.fsd.humanBody.fatGramsForGain}">&nbsp;</td><th>Yağ</th><td th:text="${summary.fsd.humanBody.fatGrams}"></td><td class="az-vurgula" th:text="${#numbers.formatDecimal(summary.fsd.totalGramFat,1,2)}"> gr</td></tr>
    <tr><td th:text="${summary.fsd.humanBody.carbGramsForLoss}">&nbsp;</td><td th:text="${summary.fsd.humanBody.carbGramsForBMR}">&nbsp;</td><td th:text="${summary.fsd.humanBody.carbGramsForGain}">&nbsp;</td><th>Karbonhidrat</th><td th:text="${summary.fsd.humanBody.carbGrams}"></td><td class="az-vurgula" th:text="${#numbers.formatDecimal(summary.fsd.totalGramCarbohydrate,1,2)}"> gr</td></tr>
    <tr><td th:text="${summary.fsd.humanBody.proteinGramsForLoss}">&nbsp;</td><td th:text="${summary.fsd.humanBody.proteinGramsForBMR}">&nbsp;</td><td th:text="${summary.fsd.humanBody.proteinGramsForGain}">&nbsp;</td><th>Protein</th><td th:text="${summary.fsd.humanBody.proteinGrams}"></td><td class="az-vurgula" th:text="${#numbers.formatDecimal(summary.fsd.totalGramProtein,1,2)}"> gr</td></tr>
</table>

<table class="table table-sm" style="max-width: 400px;">

    <tr>
        <th>Bugünkü Vücut Ağırlığı</th>
        <td>
            <span th:text="${summary.fsd.humanBody.weightKg + ' kg'}"></span>&nbsp;

            <span th:if="${!summary.fsd.humanBody.weightUpdated}"
                  th:text="'!'"
                  style="color:red; font-weight:bold; cursor:help;"
                  title="Bugünkü vücut ağırlığınızı kaydetmediğiniz için, application.properties dosyasında belirtilen ağırlık üzerinden hesaplama yapılmıştır.">
            !
            </span>
        </td>
    </tr>
    <tr><th>BMI (Vücut Kitle İndeksi)</th><td th:text="${summary.fsd.humanBody.bmi}"></td></tr>
    <tr><th>BMI Kategorisi</th><td th:text="${summary.fsd.humanBody.bmiCategory}"></td></tr>
    <tr><th>Günlük İhtiyaç ile Tüketim Arasındaki Kalori Farkı</th><td th:text="${#numbers.formatDecimal(summary.fsd.totalKcalDiff,1,2)} + ' kcal'"></td></tr>

    </tbody>
</table>

<div class="container mb-3" style="max-width: 400px;">
    <label>Gıda Ekle</label>
    <input type="text" id="foodSearchInput" class="form-control form-control-sm" placeholder="Gıda adı yaz...">

    <ul id="foodSearchResults" class="list-group mt-1"></ul>
</div>

<!-- Tarih seçimi -->
<form method="get" action="/food">


    <!--/* bootstrap datepicker */-->
    <div class="container mb-0" id="calorieDateContainer" style="max-width: 400px; background-color:floralwhite;">
        <div class="input-group calorieDateStyle date">
            <label for="calorieDatePicker" class="col-sm-4 col-form-label col-form-label-sm">Select Date:</label>
            <span class="input-group-append">
                    <a class="btn btn-outline-secondary" th:href="${'/food?dateMillis=' + prevDayDateMillis}">
                        &lt;
                    </a>
            </span>
            <input type="text" id="calorieDatePicker"
                   class="form-control form-control-sm"/>
            <span class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">
                        <i class="far fa-calendar" aria-hidden="true"></i>
                    </button>
            </span>

            <span class="input-group-append">
                    <a class="btn btn-outline-secondary" th:href="${'/food?dateMillis=' + nextDayDateMillis}">
                        &gt;
                    </a>
            </span>

            <!--
            <span class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">
                        Getir
                    </button>
            </span>
            -->
        </div>
    </div>

</form>




<table id="caloriesTable">
    <caption>

        <label><input type="checkbox" class="status-filter" value="0" checked>
            &nbsp;<i class="fa-solid fa-square status-fg-0" title="status-fg-0"></i>
        </label>
        <label><input type="checkbox" class="status-filter" value="1" checked>
            &nbsp;<i class="fa-solid fa-square status-fg-1" title="status-fg-1"></i>
        </label>
        <label><input type="checkbox" class="status-filter" value="2" checked>
            &nbsp;<i class="fa-solid fa-square status-fg-2" title="status-fg-2"></i>
        </label>

        <button id="btnExcel" title="Download As Spreadsheet"><i class="fa-solid fa-file-excel"></i></button>

        <button id="btnCopy">Listeyi Panoya Kopyala</button>
        <span id="copyInfo" style="display:none; margin-left:10px;">Kopyalandı!</span>

    </caption>
    <thead>


    <tr>
        <td>Tarih:</td>
        <td colspan="11" id="caloriesTableDateCell"></td>
    </tr>


    <tr class="total">
        <td colspan="4">Toplamlar: Makroların kabaca 4-4-9 kuralına göre birbirlerine göre yüzdeleri</td>
        <td th:text="${#numbers.formatDecimal(summary.fsd.totalGramKcalFatCarbProtein,1,2)} + ' kcal'"> kcal</td>
        <td th:text="${#numbers.formatDecimal(summary.fsd.totalPercentFat,1,2)} + ' %'"> percent</td>
        <td th:text="${#numbers.formatDecimal(summary.fsd.totalPercentCarbohydrate,1,2)} + ' %'"> percentl</td>
        <td th:text="${#numbers.formatDecimal(summary.fsd.totalPercentProtein,1,2)} + ' %'"> percent</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <tr class="total">
        <td colspan="4">Toplamlar: Makroların Gramajlarının 4-4-9 kuralına göre kaloriye çevrilmeleri</td>
        <td th:text="${#numbers.formatDecimal(summary.fsd.totalGramKcalFatCarbProtein,1,2)} + ' kcal'"> kcal</td>
        <td th:text="${#numbers.formatDecimal(summary.fsd.totalGramFatKcal,1,2)} + ' kcal'"> kcal</td>
        <td th:text="${#numbers.formatDecimal(summary.fsd.totalGramCarbohydrateKcal,1,2)} + ' kcal'"> kcal</td>
        <td th:text="${#numbers.formatDecimal(summary.fsd.totalGramProteinKcal,1,2)} + ' kcal'"> kcal</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <tr class="total">
        <td colspan="3">Toplamlar: 100gr Kalori Değerlerine Göre Planlanan (GÜN SONU)</td>
        <td th:text="${#numbers.formatDecimal(summary.fsd.totalGram,1,2)} + ' gr'"> gr</td>
        <td class="vurgula" th:text="${#numbers.formatDecimal(summary.fsd.totalKcal,1,2)} + ' kcal'"> kcal</td>
        <td class="az-vurgula" th:text="${#numbers.formatDecimal(summary.fsd.totalGramFat,1,2)} + ' gr'"> gr</td>
        <td class="az-vurgula" th:text="${#numbers.formatDecimal(summary.fsd.totalGramCarbohydrate,1,2)} + ' gr'"> gr</td>
        <td class="az-vurgula" th:text="${#numbers.formatDecimal(summary.fsd.totalGramProtein,1,2)} + ' gr'"> gr</td>
        <td class="az-vurgula2" th:text="${#numbers.formatDecimal(summary.fsd.totalGramFiber,1,2)} + ' gr'"> gr</td>
        <td class="az-vurgula2" th:text="${#numbers.formatDecimal(summary.fsd.totalGramSodium,1,2)} + ' gr'"> gr</td>
        <td class="az-vurgula2" th:text="${#numbers.formatDecimal(summary.fsd.totalGramFatSaturated,1,2)} + ' gr'"> gr</td>
        <td class="az-vurgula2" th:text="${#numbers.formatDecimal(summary.fsd.totalGramSugar,1,2)} + ' gr'"> gr</td>
    </tr>

    <tr class="total">
        <td colspan="3">Toplamlar: 100gr Kalori Değerlerine Göre Bekleyen (<i class="fa-solid fa-square status-fg-0"></i>)</td>
        <td th:text="${#numbers.formatDecimal(summary.fsd.totalGramByStatus0,1,2)} + ' gr'"> gr</td>
        <td class="daha-az-vurgula" th:text="${#numbers.formatDecimal(summary.fsd.totalKcalByStatus0,1,2)} + ' kcal'"> kcal</td>
        <td th:text="${#numbers.formatDecimal(summary.fsd.totalGramFatByStatus0,1,2)} + ' gr'"> gr</td>
        <td th:text="${#numbers.formatDecimal(summary.fsd.totalGramCarbohydrateByStatus0,1,2)} + ' gr'"> gr</td>
        <td th:text="${#numbers.formatDecimal(summary.fsd.totalGramProteinByStatus0,1,2)} + ' gr'"> gr</td>
        <td th:text="${#numbers.formatDecimal(summary.fsd.totalGramFiberByStatus0,1,2)} + ' gr'"> gr</td>
        <td th:text="${#numbers.formatDecimal(summary.fsd.totalGramSodiumByStatus0,1,2)} + ' gr'"> gr</td>
        <td th:text="${#numbers.formatDecimal(summary.fsd.totalGramFatSaturatedByStatus0,1,2)} + ' gr'"> gr</td>
        <td th:text="${#numbers.formatDecimal(summary.fsd.totalGramSugarByStatus0,1,2)} + ' gr'"> gr</td>
    </tr>

    <tr class="total">
        <td colspan="3">Toplamlar: 100gr Kalori Değerlerine Göre Kısmen Yenmiş (<i class="fa-solid fa-square status-fg-2"></i>)"</td>
        <td th:text="${#numbers.formatDecimal(summary.fsd.totalGramByStatus2,1,2)} + ' gr'"> gr</td>
        <td class="daha-az-vurgula" th:text="${#numbers.formatDecimal(summary.fsd.totalKcalByStatus2,1,2)} + ' kcal'"> kcal</td>
        <td th:text="${#numbers.formatDecimal(summary.fsd.totalGramFatByStatus2,1,2)} + ' gr'"> gr</td>
        <td th:text="${#numbers.formatDecimal(summary.fsd.totalGramCarbohydrateByStatus2,1,2)} + ' gr'"> gr</td>
        <td th:text="${#numbers.formatDecimal(summary.fsd.totalGramProteinByStatus2,1,2)} + ' gr'"> gr</td>
        <td th:text="${#numbers.formatDecimal(summary.fsd.totalGramFiberByStatus2,1,2)} + ' gr'"> gr</td>
        <td th:text="${#numbers.formatDecimal(summary.fsd.totalGramSodiumByStatus2,1,2)} + ' gr'"> gr</td>
        <td th:text="${#numbers.formatDecimal(summary.fsd.totalGramFatSaturatedByStatus2,1,2)} + ' gr'"> gr</td>
        <td th:text="${#numbers.formatDecimal(summary.fsd.totalGramSugarByStatus2,1,2)} + ' gr'"> gr</td>
    </tr>

    <tr>
        <!-- <th>Tarih</th> -->
        <th>gr / kcal</th>
        <th>100g kcal</th>
        <th>Yemek</th>
        <!-- <th>Açıklama</th> -->

        <th>Gram</th>
        <th>Kalori</th>
        <th>Yağ</th>
        <th>Karbonhidrat</th>
        <th>Protein</th>
        <th>Fiber</th>
        <th>Sodyum</th>
        <th>Doymuş Yağ</th>
        <th>Şeker</th>
    </tr>

    <tr class="total">
        <td colspan="3">Toplamlar: 100gr Kalori Değerlerine Göre Tüketilmiş (<i class="fa-solid fa-square status-fg-1"></i>)</td>
        <td th:text="${#numbers.formatDecimal(summary.fsd.totalGramByStatus1,1,2)} + ' gr'"> gr</td>
        <td class="daha-az-vurgula" th:text="${#numbers.formatDecimal(summary.fsd.totalKcalByStatus1,1,2)} + ' kcal'"> kcal</td>
        <td th:text="${#numbers.formatDecimal(summary.fsd.totalGramFatByStatus1,1,2)} + ' gr'"> gr</td>
        <td th:text="${#numbers.formatDecimal(summary.fsd.totalGramCarbohydrateByStatus1,1,2)} + ' gr'"> gr</td>
        <td th:text="${#numbers.formatDecimal(summary.fsd.totalGramProteinByStatus1,1,2)} + ' gr'"> gr</td>
        <td th:text="${#numbers.formatDecimal(summary.fsd.totalGramFiberByStatus1,1,2)} + ' gr'"> gr</td>
        <td th:text="${#numbers.formatDecimal(summary.fsd.totalGramSodiumByStatus1,1,2)} + ' gr'"> gr</td>
        <td th:text="${#numbers.formatDecimal(summary.fsd.totalGramFatSaturatedByStatus1,1,2)} + ' gr'"> gr</td>
        <td th:text="${#numbers.formatDecimal(summary.fsd.totalGramSugarByStatus1,1,2)} + ' gr'"> gr</td>
    </tr>


    </thead>

    <tbody>
    <tr th:each="item : ${summary.items}"
        th:classappend="${'status-hide-' + item.entryStatus}">

        <!-- <td th:text="${item.dateMillis}"></td> -->
        <td th:text="${#numbers.formatDecimal(item.gramPerKcal,1,2)}"></td>
        <td th:text="${#numbers.formatDecimal(item.kcalPer100g,1,2)}"></td>
        <td style="text-align: left;">
            <a th:text="${item.topicName}"
               th:href="@{/topics/edit/{id}(id=${item.topicId})}"
               target="_blank" rel="noopener noreferrer"
               title="Edit Topic">
                ✎
            </a>
        </td>
        <!-- <td th:text="${item.topicDescription}"></td> -->

        <td>

            <i class="fa-solid fa-square" th:classappend="${'status-fg-' + item.entryStatus}" th:title="${item.entryStatus}"></i>

            <a      th:text="${#numbers.formatDecimal(item.gram,1,2)}"
                    th:href="@{/entries/edit/{id}(id=${item.entryId},
                                            categoryId=${item.categoryId},
                                            topicId=${item.topicId},
                                            returnPage=entries
                                            )}"
               target="_blank" rel="noopener noreferrer"
               title="Edit Entry">
                gramaj ve edit entry linki
            </a>



        </td>



        <td th:text="${#numbers.formatDecimal(item.calculatedKcal,1,2)}"></td>
        <td th:text="${#numbers.formatDecimal(item.fat,1,2)}"></td>
        <td th:text="${#numbers.formatDecimal(item.carbohydrate,1,2)}"></td>
        <td th:text="${#numbers.formatDecimal(item.protein,1,2)}"></td>
        <td th:text="${#numbers.formatDecimal(item.fiber,1,2)}"></td>
        <td th:text="${#numbers.formatDecimal(item.sodium,1,2)}"></td>
        <td th:text="${#numbers.formatDecimal(item.fatSaturated,1,2)}"></td>
        <td th:text="${#numbers.formatDecimal(item.sugar,1,2)}"></td>


    </tr>
    </tbody>

    <tfoot>
    <tr class="total">
        <td colspan="3">Toplam</td>
        <td th:text="${#numbers.formatDecimal(summary.fsd.totalGram,1,2)}"></td>
        <td th:text="${#numbers.formatDecimal(summary.fsd.totalKcal,1,2)}"></td>
        <td th:text="${#numbers.formatDecimal(summary.fsd.totalGramFat,1,2)}"></td>
        <td th:text="${#numbers.formatDecimal(summary.fsd.totalGramCarbohydrate,1,2)}"></td>
        <td th:text="${#numbers.formatDecimal(summary.fsd.totalGramProtein,1,2)}"></td>
        <td th:text="${#numbers.formatDecimal(summary.fsd.totalGramFiber,1,2)}"></td>
        <td th:text="${#numbers.formatDecimal(summary.fsd.totalGramSodium,1,2)}"></td>
        <td th:text="${#numbers.formatDecimal(summary.fsd.totalGramFatSaturated,1,2)}"></td>
        <td th:text="${#numbers.formatDecimal(summary.fsd.totalGramSugar,1,2)}"></td>



    </tr>
    </tfoot>
</table>


<div th:each="meal : ${summary.meals}" class="row">

    <p>
        <span th:text="${meal.mealCode}"></span> Öğünü toplam:
        <span th:text="${#numbers.formatDecimal(meal.totalCalories,1,2)}"></span> kalori

    <!-- https://www.w3schools.com/howto/howto_css_table_side_by_side.asp -->

    <div class="column">
        <table class="table-sm" style="max-width: 600px;">
            <tr th:each="item : ${meal.items}">
                <td th:text="${item.foodName}"></td>
                <td th:text="${#numbers.formatDecimal(item.gram,1,2)} + ' gr'"></td>
            </tr>
        </table>
    </div>

    <div class="column">
        <table class="table-sm" style="max-width: 600px;">

            <tr><td>Ağırlık</td><td><cite th:text="${#numbers.formatDecimal(meal.totalGram,1,2)}"></cite> gr</td></tr>
            <tr><td>Yağ</td><td><cite th:text="${#numbers.formatDecimal(meal.totalGramFat,1,2)}"></cite> gr</td></tr>
            <tr><td>Karbonhidrat</td><td><cite th:text="${#numbers.formatDecimal(meal.totalGramCarbohydrate,1,2)}"></cite> gr</td></tr>
            <tr><td>Protein</td><td><cite th:text="${#numbers.formatDecimal(meal.totalGramProtein,1,2)}"></cite> gr</td></tr>
            <tr><td>Fiber</td><td><cite th:text="${#numbers.formatDecimal(meal.totalGramFiber,1,2)}"></cite> gr</td></tr>
            <tr><td>Sodyum</td><td><cite th:text="${#numbers.formatDecimal(meal.totalGramSodium,1,2)}"></cite> gr</td></tr>
            <tr><td>Doymuş Yağ</td><td><cite th:text="${#numbers.formatDecimal(meal.totalGramFatSaturated,1,2)}"></cite> gr</td></tr>
            <tr><td>Şeker</td><td><cite th:text="${#numbers.formatDecimal(meal.totalGramSugar,1,2)}"></cite> gr</td></tr>

        </table>
    </div>




    <!--
    <td width="255" class="factPanel">





        <div class="rdi_perc_container" onclick="window.location.href='/Default.aspx?pa=rdic'" title="Tavsiye Edilen Günlük Alım miktarını ayarlayın" style="width:255px">
            <div class="inner">
                <table style="border-collapse:collapse;width:100%" cellpadding="0" cellspacing="0">
                    <tbody><tr>
                        <td>
                            <div class="big">
                                %13
                            </div>
                        </td>
                        <td>
                            <div class="medium">TGD*</div>
                            <div class="small">(255 kal)</div>
                        </td>
                        <td width="50">
                            <div class="image">
                                <img src="https://m.ftscrt.com/static/images/rdi_perc/13_percent_rdi.gif" alt="13% TGD">
                            </div>
                        </td>
                    </tr>
                    </tbody></table>
            </div>
        </div>


        <div class="cfp_breakdown_container" style="width:255px">
            <div class="inner">
                <table style="border-collapse:collapse;width:100%" cellpadding="0" cellspacing="0">
                    <tbody><tr>
                        <td>
                            <div class="big">
                                Kalori Dağılımı:
                            </div>
                            <div class="small">
                                <div class="dot carbs_dot">&nbsp;</div>Karbonhidrat (%78)<br>
                                <div class="dot fat_dot">&nbsp;</div>Yağ (%9)<br>
                                <div class="dot protein_dot">&nbsp;</div>Protein (%13)
                            </div>
                        </td>
                        <td align="center" valign="middle" width="50" style="position:relative">

                            <div style="width:50px;height:50px">
                                <canvas id="chart-pie-area" width="66" height="66" style="width: 50px; height: 50px;"></canvas>
                            </div>
                            <div class="pie-tooltip"></div>


                        </td>
                    </tr>
                    </tbody></table>
            </div>
        </div>

        <script type="text/javascript">
            var pieData = [
            {
                value:78,
                color:'#4BB89A',
                highlight:'#4BB89A',
                label:'Karbonhidrat: 64,81g'
            },
            {
                value:9,
                color:'#E4B101',
                highlight:'#E4B101',
                label:'Yağ: 3,26g'
            },
            {
                value:13,
                color:'#BC5F54',
                highlight:'#BC5F54',
                label:'Protein: 10,95g'
            }]

            $(document).ready(function() {
                var ctx = document.getElementById("chart-pie-area").getContext("2d");
                window.myPie = new Chart(ctx).Pie(pieData, {
                    responsive:true,
                    maintainAspectRatio:false,
                    animation: false,
                    tooltipTemplate:'<%if (label){%><%=label%> <%}%>(%<%= value %>)',
                    customTooltips:function(tooltip) {
                        var tooltipEl = $('.pie-tooltip');

                        // Hide if no tooltip
                        if (!tooltip) {
                            tooltipEl.css({ opacity:0 });
                            return;
                        }

                        // Set caret Position
                        tooltipEl.removeClass('above below');
                        tooltipEl.addClass(tooltip.yAlign);

                        // Set Text
                        tooltipEl.html(tooltip.text);

                        // Find Y Location on page
                        var top;
                        if (tooltip.yAlign == 'above') {
                            top = tooltip.y - tooltip.caretHeight - tooltip.caretPadding;
                        } else {
                            top = tooltip.y + tooltip.caretHeight + tooltip.caretPadding;
                        }

                        // Display, position, and set styles for font
                        tooltipEl.css({
                            opacity:1,
                            left:tooltip.chart.canvas.offsetLeft + tooltip.x + 'px',
                            top:tooltip.chart.canvas.offsetTop + top + 'px',
                            fontFamily:tooltip.fontFamily,
                            fontSize:tooltip.fontSize + 'px',
                            fontStyle:tooltip.fontStyle
                        });
                    }
                });
            });
        </script>

        <div style="font-size:77%;margin:5px 0 0 10px">
            <b>*TGD&nbsp;üzerine&nbsp;kurulmuş&nbsp;2000&nbsp;kalori </b>
            <div>
                <a href="">
                    <b>Benim tavsiye edilen günlük değerim nedir?</b>
                </a>
            </div>
        </div>

    </td>

        -->





</div>

<script type="text/javascript" th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>

<script type="text/javascript"
        th:src="@{/webjars/bootstrap/5.3.7/js/bootstrap.min.js}"></script>

<script type="text/javascript" th:src="@{/webjars/bootstrap-datepicker/dist/js/bootstrap-datepicker.js}"></script>

<script type="text/javascript" th:src="@{/webjars/htmx.org/dist/htmx.min.js}"></script>

<script type="text/javascript" th:src="@{/webjars/datatables/2.3.0/js/dataTables.js}"></script>

<!-- https://datatables.net/plug-ins/sorting/turkish-string -->
<script src="https://cdn.datatables.net/plug-ins/2.3.2/sorting/turkish-string.js"></script>


<!-- <script type="text/javascript" th:src="@{/webjars/datatables/2.3.0/js/dataTables.bootstrap5.min.js}"></script> -->

<script>
    $(document).ready(function () {
        let table = new DataTable('#caloriesTable', {
            pageLength: 50
        });
        // https://hatchjs.com/datatables-sort-by-date/
        // TODO asagidaki ayarlar ise yaramadi. Ogrenip tekrar dene.
        // table.order('Kalori', 'desc');
        // table.order(3 , 'desc');
    });

</script>

<script th:inline="javascript">
    const ZONE_ID = [[${zoneId}]];
    const DATE_MILLIS = [[${dateMillis}]];
</script>

<script>
    function convertDateToMillis(dateStr) {

        // dateStr = "2026-04-06"

        const parts = dateStr.split("-");
        const year = parseInt(parts[0]);
        const month = parseInt(parts[1]) - 1; // JS month 0-based
        const day = parseInt(parts[2]);

        // Local midnight oluştur
        const localDate = new Date(year, month, day);

        return localDate.getTime();
    }

    function loadCalorieData(dateStr) {

        const millis = convertDateToMillis(dateStr);

        const url = `/food?dateMillis=${millis}`;

        // Sayfayı redirect ederek yenile
        window.location.href = url;
    }

    function convertMillisToDateStr(millis) {

        const date = new Date(millis);

        const year = date.getFullYear();
        const month = String(date.getMonth() + 1).padStart(2, '0');
        const day = String(date.getDate()).padStart(2, '0');

        return `${year}-${month}-${day}`;
    }

    function redirectToNewEntry(topicId) {

        let dateStr;

        if (DATE_MILLIS) {
            dateStr = convertMillisToDateStr(DATE_MILLIS);
        } else {
            dateStr = new Date().toISOString().slice(0, 10);
        }

        const url = `/entries/new?topicId=${topicId}&dateYmd=${dateStr}`;

        window.open(url, '_blank'); // yeni sekme
    }

    $(function () {


        let initialDateStr;

        if (DATE_MILLIS) {
            initialDateStr = convertMillisToDateStr(DATE_MILLIS);
        } else {
            initialDateStr = new Date().toISOString().slice(0, 10);
        }

        $('#calorieDatePicker').val(initialDateStr); // 👉 .val() sadece input, textarea, select için çalışır

        $('#caloriesTableDateCell').text(initialDateStr);


        $('#calorieDateContainer .calorieDateStyle.date').datepicker({
            format: "yyyy-mm-dd",
            todayBtn: "linked",
            autoclose: true,
            todayHighlight: true
        }).on("changeDate", function (e) {
            loadCalorieData(e.format(0, "yyyy-mm-dd"));
        });


        // topic arama kodu

        const $input = $('#foodSearchInput');
        const $results = $('#foodSearchResults');



        $input.on('input', function () {

            const query = $(this).val();

            if (query.length < 2) {
                $results.empty();
                return;
            }

            //const csrfToken = $('meta[name="_csrf"]').attr('content');
            //const csrfHeader = $('meta[name="_csrf_header"]').attr('content');

            const csrfHeader = document.querySelector('meta[name="_csrf_header"]').content;
            const csrfToken = document.querySelector('meta[name="_csrf"]').content;


            $.ajax({
                url: '/api/food-topics',
                data: { q: query },
                beforeSend: function (xhr) {
                        xhr.setRequestHeader(csrfHeader, csrfToken);
                },
                success: function (data) {

                    $results.empty();

                    data.forEach(item => {

                        const li = $(`
                            <li class="list-group-item list-group-item-action" style="cursor:pointer;">
                                ${item.name}
                            </li>
                        `);

                        li.on('click', function () {
                            redirectToNewEntry(item.id);
                        });

                        $results.append(li);
                    });
                }
            });
        });









    });



</script>

<!--/* https://github.com/SheetJS/sheetjs https://docs.sheetjs.com/
new source repository URL is https://git.sheetjs.com/sheetjs/sheetjs*/-->
<script src="/webjars/xlsx/dist/xlsx.full.min.js"></script>

<!--/* <script src="https://cdn.jsdelivr.net/npm/xlsx@0.18.5/dist/xlsx.full.min.js"></script> */-->

<script>
    document.getElementById("btnExcel").addEventListener("click", function () {
        // pivot-table elementini seç
        var table = document.getElementById("caloriesTable");

        // HTML tablodan worksheet oluştur
        var wb = XLSX.utils.table_to_book(table, { sheet: "CaloriesTable" });

        // Dosyayı indir
        XLSX.writeFile(wb, "calories-table.xlsx");
    });
</script>


<script>
    // COPY THE FOOD LIST TO THE CLIPBOARD
    document.getElementById("btnCopy").addEventListener("click", function () {

        let initialDateStr;

        if (DATE_MILLIS) {
            initialDateStr = convertMillisToDateStr(DATE_MILLIS);
        } else {
            initialDateStr = new Date().toISOString().slice(0, 10);
        }


        let result = [];
        result.push("Date: " + initialDateStr)
        result.push("Planned food weight");


        $("#caloriesTable tbody tr").each(function () {
            let col2 = $(this).find("td:eq(1)").text().trim();
            let col3 = $(this).find("td:eq(2)").text().trim();
            let col4 = $(this).find("td:eq(3)").text().trim();


            if (col2 || col3) {
                result.push("    " + col4 + " gr " + col3 + " (" + col2/100 + " kcal/1 gr)");
            }
        });

        let finalText = result.join("\n");

        // panoya kopyala
        navigator.clipboard.writeText(finalText).then(function () {

            // mesaj göster
            $("#copyInfo").fadeIn(200);

            setTimeout(function () {
                $("#copyInfo").fadeOut(200);
            }, 1500);

        }).catch(function (err) {
            console.error("Kopyalama hatası:", err);
        });
    });
</script>

<script>
    $(document).ready(function () {

    let table = new DataTable('#caloriesTable');

    // Custom filter
    $.fn.dataTable.ext.search.push(function (settings, data, dataIndex) {

            let row = table.row(dataIndex).node();

            let selectedStatuses = $('.status-filter:checked')
                .map(function () { return $(this).val(); })
                .get();

            // satırın class'ından status yakala
            let rowStatus = null;
            for (let i = 0; i <= 2; i++) {
                if ($(row).hasClass('status-hide-' + i)) {
                    rowStatus = i.toString();
                    break;
                }
            }

            // seçili değilse gösterme
            return selectedStatuses.includes(rowStatus);
        });

        // checkbox değişince tabloyu yeniden filtrele
        $('.status-filter').on('change', function () {
            table.draw();
        });

    });

</script>

</body>
</html>