<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*
    This file is part of the DailyTopicTracker project.
    Please refer to the project's README.md file for additional details.
    https://github.com/turkerozturk/springtopiccalendar
    */-->
    <title>Daily Topic Tracker</title>
    <meta charset="UTF-8">


    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <!--/* favicon */-->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon-180x180.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/css/all.min.css}">



    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap-datepicker/dist/css/bootstrap-datepicker.css}">

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/datatables/2.3.0/css/dataTables.jqueryui.min.css}">


    <style>
        body { font-family: Arial; margin: 20px; }
        table { border-collapse: collapse; width: 100%; }
        th, td { border: 1px solid #ccc; padding: 8px; text-align: center; }
        th { background-color: #f5f5f5; }
        .total { font-weight: bold; background-color: #e8f5e9; }

        .vurgula {
          font-size: 1.875em;
          background-color: green;
        }


      .status-0 {
        background-color: gainsboro !important;
      }
      .status-1 {
        background-color: palegreen !important;
      }
      .status-2 {
        background-color: tomato !important;
      }

      .status-fg-0 {
        color: gainsboro !important;
      }
      .status-fg-1 {
        color: palegreen !important;
      }
      .status-fg-2 {
        color: tomato !important;
      }
    </style>
</head>
<body>

<h2><!-- Sol tarafta logo veya Home -->
    <a class="navbar-brand" href="/" target="_blank">🏠 Home</a> | Daily Calorie Tracker
</h2>

<div class="container mb-3" style="max-width: 400px;">
    <label>Gıda Ekle</label>
    <input type="text" id="foodSearchInput" class="form-control form-control-sm" placeholder="Gıda adı yaz...">

    <ul id="foodSearchResults" class="list-group mt-1"></ul>
</div>

<!-- Tarih seçimi -->
<form method="get" action="/food">


    <!--/* bootstrap datepicker */-->
    <div class="container mb-0" id="calorieDateContainer" style="max-width: 400px; background-color:floralwhite;">
        <div class="input-group calorieDateStyle date">
            <label for="calorieDatePicker" class="col-sm-4 col-form-label col-form-label-sm">Select Date:</label>
            <input type="text" id="calorieDatePicker"
                   class="form-control form-control-sm"/>
            <span class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">
                        <i class="far fa-calendar" aria-hidden="true"></i>
                    </button>
            </span>
            <!--
            <span class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">
                        Getir
                    </button>
            </span>
            -->
        </div>
    </div>

</form>


<br/>

<table id="caloriesTable">
    <thead>



    <tr class="total">
        <td colspan="3">Toplamlar: Makro Gramajlarına Göre Kaba Hesap (4 x fat, 4 x carbonhydrate, 9 x protein)</td>
        <td th:text="${#numbers.formatDecimal(summary.totalGramKcalFatCarbProtein,1,2)} + ' kcal'"> kcal</td>
        <td th:text="${#numbers.formatDecimal(summary.totalGramFatKcal,1,2)} + ' kcal'"> kcal</td>
        <td th:text="${#numbers.formatDecimal(summary.totalGramCarbohydrateKcal,1,2)} + ' kcal'"> kcal</td>
        <td th:text="${#numbers.formatDecimal(summary.totalGramProteinKcal,1,2)} + ' kcal'"> kcal</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <tr class="total">
        <td colspan="2">Toplamlar: 100gr Kalori Değerlerine Göre Planlanan (GÜN SONU)</td>
        <td th:text="${#numbers.formatDecimal(summary.totalGram,1,2)} + ' gr'"> gr</td>
        <td th:text="${#numbers.formatDecimal(summary.totalKcal,1,2)} + ' kcal'" class="vurgula"> kcal</td>
        <td th:text="${#numbers.formatDecimal(summary.totalGramFat,1,2)} + ' gr'"> gr</td>
        <td th:text="${#numbers.formatDecimal(summary.totalGramCarbohydrate,1,2)} + ' gr'"> gr</td>
        <td th:text="${#numbers.formatDecimal(summary.totalGramProtein,1,2)} + ' gr'"> gr</td>
        <td th:text="${#numbers.formatDecimal(summary.totalGramFiber,1,2)} + ' gr'"> gr</td>
        <td th:text="${#numbers.formatDecimal(summary.totalGramSodium,1,2)} + ' gr'"> gr</td>
        <td th:text="${#numbers.formatDecimal(summary.totalGramFatSaturated,1,2)} + ' gr'"> gr</td>
        <td th:text="${#numbers.formatDecimal(summary.totalGramSugar,1,2)} + ' gr'"> gr</td>
    </tr>

    <tr class="total">
        <td colspan="2">Toplamlar: 100gr Kalori Değerlerine Göre Tüketilmiş (<i class="fa-solid fa-square status-fg-1"></i> ŞİMDİLİK)</td>
        <td th:text="${#numbers.formatDecimal(summary.totalGramByStatus,1,2)} + ' gr'"> gr</td>
        <td th:text="${#numbers.formatDecimal(summary.totalKcalByStatus,1,2)} + ' kcal'"> kcal</td>
        <td th:text="${#numbers.formatDecimal(summary.totalGramFatByStatus,1,2)} + ' gr'"> gr</td>
        <td th:text="${#numbers.formatDecimal(summary.totalGramCarbohydrateByStatus,1,2)} + ' gr'"> gr</td>
        <td th:text="${#numbers.formatDecimal(summary.totalGramProteinByStatus,1,2)} + ' gr'"> gr</td>
        <td th:text="${#numbers.formatDecimal(summary.totalGramFiberByStatus,1,2)} + ' gr'"> gr</td>
        <td th:text="${#numbers.formatDecimal(summary.totalGramSodiumByStatus,1,2)} + ' gr'"> gr</td>
        <td th:text="${#numbers.formatDecimal(summary.totalGramFatSaturatedByStatus,1,2)} + ' gr'"> gr</td>
        <td th:text="${#numbers.formatDecimal(summary.totalGramSugarByStatus,1,2)} + ' gr'"> gr</td>
    </tr>

    <tr>
        <!-- <th>Tarih</th> -->
        <th>100g kcal</th>
        <th>Yemek</th>
        <!-- <th>Açıklama</th> -->

        <th>Gram</th>
        <th>Kalori</th>
        <th>Yağ</th>
        <th>Karbonhidrat</th>
        <th>Protein</th>
        <th>Fiber</th>
        <th>Sodyum</th>
        <th>Doymuş Yağ</th>
        <th>Şeker</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="item : ${summary.items}">

        <!-- <td th:text="${item.dateMillis}"></td> -->
        <td th:text="${#numbers.formatDecimal(item.kcalPer100g,1,2)}"></td>
        <td style="text-align: left;">
            <a th:text="${item.topicName}"
               th:href="@{/topics/edit/{id}(id=${item.topicId})}"
               target="_blank" rel="noopener noreferrer"
               title="Edit Topic">
                ✎
            </a>
        </td>
        <!-- <td th:text="${item.topicDescription}"></td> -->

        <td>

            <i class="fa-solid fa-square" th:classappend="${'status-fg-' + item.entryStatus}" th:title="${item.entryStatus}"></i>

            <a      th:text="${#numbers.formatDecimal(item.gram,1,2)}"
                    th:href="@{/entries/edit/{id}(id=${item.entryId},
                                            categoryId=${item.categoryId},
                                            topicId=${item.topicId},
                                            returnPage=entries
                                            )}"
               target="_blank" rel="noopener noreferrer"
               title="Edit Entry">
                gramaj ve edit entry linki
            </a>



        </td>




        <td th:text="${#numbers.formatDecimal(item.calculatedKcal,1,2)}"></td>
        <td th:text="${#numbers.formatDecimal(item.fat,1,2)}"></td>
        <td th:text="${#numbers.formatDecimal(item.carbohydrate,1,2)}"></td>
        <td th:text="${#numbers.formatDecimal(item.protein,1,2)}"></td>
        <td th:text="${#numbers.formatDecimal(item.fiber,1,2)}"></td>
        <td th:text="${#numbers.formatDecimal(item.sodium,1,2)}"></td>
        <td th:text="${#numbers.formatDecimal(item.fatSaturated,1,2)}"></td>
        <td th:text="${#numbers.formatDecimal(item.sugar,1,2)}"></td>


    </tr>
    </tbody>

    <tfoot>
    <tr class="total">
        <td colspan="2">Toplam</td>
        <td th:text="${#numbers.formatDecimal(summary.totalGram,1,2)}"></td>
        <td th:text="${#numbers.formatDecimal(summary.totalKcal,1,2)}"></td>
        <td th:text="${#numbers.formatDecimal(summary.totalGramFat,1,2)}"></td>
        <td th:text="${#numbers.formatDecimal(summary.totalGramCarbohydrate,1,2)}"></td>
        <td th:text="${#numbers.formatDecimal(summary.totalGramProtein,1,2)}"></td>
        <td th:text="${#numbers.formatDecimal(summary.totalGramFiber,1,2)}"></td>
        <td th:text="${#numbers.formatDecimal(summary.totalGramSodium,1,2)}"></td>
        <td th:text="${#numbers.formatDecimal(summary.totalGramFatSaturated,1,2)}"></td>
        <td th:text="${#numbers.formatDecimal(summary.totalGramSugar,1,2)}"></td>



    </tr>
    </tfoot>
</table>

<script type="text/javascript" th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>

<script type="text/javascript"
        th:src="@{/webjars/bootstrap/5.3.7/js/bootstrap.min.js}"></script>

<script type="text/javascript" th:src="@{/webjars/bootstrap-datepicker/dist/js/bootstrap-datepicker.js}"></script>

<script type="text/javascript" th:src="@{/webjars/htmx.org/dist/htmx.min.js}"></script>

<script type="text/javascript" th:src="@{/webjars/datatables/2.3.0/js/dataTables.js}"></script>

<!-- https://datatables.net/plug-ins/sorting/turkish-string -->
<script src="https://cdn.datatables.net/plug-ins/2.3.2/sorting/turkish-string.js"></script>


<!-- <script type="text/javascript" th:src="@{/webjars/datatables/2.3.0/js/dataTables.bootstrap5.min.js}"></script> -->

<script>
    $(document).ready(function () {
        let table = new DataTable('#caloriesTable', {
            pageLength: 50
        });
        // https://hatchjs.com/datatables-sort-by-date/
        // TODO asagidaki ayarlar ise yaramadi. Ogrenip tekrar dene.
        // table.order('Kalori', 'desc');
        // table.order(3 , 'desc');
    });

</script>

<script th:inline="javascript">
    const ZONE_ID = [[${zoneId}]];
    const DATE_MILLIS = [[${dateMillis}]];
</script>

<script>
    function convertDateToMillis(dateStr) {

        // dateStr = "2026-04-06"

        const parts = dateStr.split("-");
        const year = parseInt(parts[0]);
        const month = parseInt(parts[1]) - 1; // JS month 0-based
        const day = parseInt(parts[2]);

        // Local midnight oluştur
        const localDate = new Date(year, month, day);

        return localDate.getTime();
    }

    function loadCalorieData(dateStr) {

        const millis = convertDateToMillis(dateStr);

        const url = `/food?dateMillis=${millis}`;

        // Sayfayı redirect ederek yenile
        window.location.href = url;
    }

    function convertMillisToDateStr(millis) {

        const date = new Date(millis);

        const year = date.getFullYear();
        const month = String(date.getMonth() + 1).padStart(2, '0');
        const day = String(date.getDate()).padStart(2, '0');

        return `${year}-${month}-${day}`;
    }

    function redirectToNewEntry(topicId) {

        let dateStr;

        if (DATE_MILLIS) {
            dateStr = convertMillisToDateStr(DATE_MILLIS);
        } else {
            dateStr = new Date().toISOString().slice(0, 10);
        }

        const url = `/entries/new?topicId=${topicId}&dateYmd=${dateStr}`;

        window.open(url, '_blank'); // yeni sekme
    }

    $(function () {


        let initialDateStr;

        if (DATE_MILLIS) {
            initialDateStr = convertMillisToDateStr(DATE_MILLIS);
        } else {
            initialDateStr = new Date().toISOString().slice(0, 10);
        }

        $('#calorieDatePicker').val(initialDateStr);

        $('#calorieDateContainer .calorieDateStyle.date').datepicker({
            format: "yyyy-mm-dd",
            todayBtn: "linked",
            autoclose: true,
            todayHighlight: true
        }).on("changeDate", function (e) {
            loadCalorieData(e.format(0, "yyyy-mm-dd"));
        });


        // topic arama kodu

        const $input = $('#foodSearchInput');
        const $results = $('#foodSearchResults');



        $input.on('input', function () {

            const query = $(this).val();

            if (query.length < 2) {
                $results.empty();
                return;
            }

            //const csrfToken = $('meta[name="_csrf"]').attr('content');
            //const csrfHeader = $('meta[name="_csrf_header"]').attr('content');

            const csrfHeader = document.querySelector('meta[name="_csrf_header"]').content;
            const csrfToken = document.querySelector('meta[name="_csrf"]').content;


            $.ajax({
                url: '/api/food-topics',
                data: { q: query },
                beforeSend: function (xhr) {
                        xhr.setRequestHeader(csrfHeader, csrfToken);
                },
                success: function (data) {

                    $results.empty();

                    data.forEach(item => {

                        const li = $(`
                            <li class="list-group-item list-group-item-action" style="cursor:pointer;">
                                ${item.name}
                            </li>
                        `);

                        li.on('click', function () {
                            redirectToNewEntry(item.id);
                        });

                        $results.append(li);
                    });
                }
            });
        });









    });



</script>

</body>
</html>