<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*
    This file is part of the DailyTopicTracker project.
    Please refer to the project's README.md file for additional details.
    https://github.com/turkerozturk/springtopiccalendar
    */-->
    <title>Daily Topic Tracker</title>
    <meta charset="UTF-8">


    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <!--/* favicon */-->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon-180x180.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/css/all.min.css}">



    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap-datepicker/dist/css/bootstrap-datepicker.css}">

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/datatables/2.3.0/css/dataTables.jqueryui.min.css}">


    <style>
        body { font-family: Arial; margin: 20px; }
        table { border-collapse: collapse; width: 100%; }
        th, td { border: 1px solid #ccc; padding: 8px; text-align: center; }
        th { background-color: #f5f5f5; }
        .total { font-weight: bold; background-color: #e8f5e9; }

        .vurgula {
          font-size: 1.875em;
          background-color: lightgreen;
        }

        .az-vurgula {
          background-color: #cceecc;
        }

        .az-vurgula2 {
          background-color: #c5e7c5;
        }

        .daha-az-vurgula {
          background-color: #eeeecc;
        }

      .status-0 {
        background-color: gainsboro !important;
      }
      .status-1 {
        background-color: palegreen !important;
      }
      .status-2 {
        background-color: tomato !important;
      }

      .status-fg-0 {
        color: gainsboro !important;
      }
      .status-fg-1 {
        color: palegreen !important;
      }
      .status-fg-2 {
        color: tomato !important;
      }
    </style>

    <style>



        colgroup col.kcal {
          background-color: #dff0d8 !important;
        }
        colgroup col.kg {
          background-color: #f2dede !important;
        }
        colgroup col.gr {
          background-color: #fcf8e3 !important;
        }
        colgroup col.result {
          background-color: #d9edf7 !important;
        }

    </style>
</head>
<body>

<h2><!-- Sol tarafta logo veya Home -->
    <a class="navbar-brand" href="/" target="_blank">🏠 Home</a> | Daily Calorie Tracker
</h2>

<div class="row mb-3">
    <div class="col-md-3">
        <input type="text" id="startDate" class="form-control"/>
    </div>
    <div class="col-md-3">
        <input type="text" id="endDate" class="form-control"/>
    </div>
    <div class="col-md-2">
        <button class="btn btn-primary" onclick="reloadRange()">Getir</button>
    </div>
</div>

<table id="rangeTable" class="">

    <colgroup>
        <col class="result">
        <col class="kcal">
        <col class="kcal">
        <col class="result">
        <col class="kg">
        <col class="kcal">
        <col class="result">
        <col class="kg">
        <col class="kg">
        <col class="gr">
        <col class="gr">
        <col class="gr">
        <col class="gr">
        <col class="gr">
        <col class="gr">



    </colgroup>

    <thead>
    <tr>
        <th>Tarih</th>
        <th>Kcal İhtiyaç</th>
        <th>Kcal Gıda</th>

        <th>Kcal Gıda Fark</th>
        <th>KG Gıda Fark</th>

        <th>Kcal Aktivite</th>
        <th>Kcal Toplam Fark</th>
        <th>KG Toplam Fark</th>

        <th>KG Tartı</th>

        <th>Gramaj</th>
        <th>GR Yağ</th>
        <th>GR Karb</th>
        <th>GR Protein</th>
        <th>GR Lif</th>
        <th>GR Şeker</th>

    </tr>
    </thead>

    <tbody>
    <tr th:each="day : ${summary.days}">

        <td><a th:href="${'/food?dateMillis=' + day.dateMillis}"
               th:text="${#dates.format(day.dateMillis, 'yyyy-MM-dd')}"
               target="_blank"></a>
        </td>

        <td th:text="${#numbers.formatDecimal(day.humanBody.tdee,1,0)}"></td>

        <td th:text="${#numbers.formatDecimal(day.totalKcal,1,0)}"></td>

        <td th:text="${#numbers.formatDecimal(day.totalKcalDiff,1,1)}"></td>
        <td th:text="${#numbers.formatDecimal(day.totalGramDiff,1,2)}"></td>

        <td th:text="${#numbers.formatDecimal(day.totalActivityKcal,1,1)}"></td>
        <td th:text="${#numbers.formatDecimal(day.totalKcalDiffWithActivity,1,1)}"></td>
        <td th:text="${#numbers.formatDecimal(day.totalGramDiffWithActivity,1,2)}"></td>



        <td>
            <span th:text="${day.humanBody.weightKg}"></span>&nbsp;

            <span th:if="${!day.humanBody.weightUpdated}"
                  th:text="'!'"
                  style="color:red; font-weight:bold; cursor:help;"
                  title="Bugünkü vücut ağırlığınızı kaydetmediğiniz için, application.properties dosyasında belirtilen ağırlık üzerinden hesaplama yapılmıştır.">
            !
            </span>
        </td>

        <td th:text="${#numbers.formatDecimal(day.totalGram,1,0)}"></td>

        <td th:text="${#numbers.formatDecimal(day.totalGramFat,1,1)}"></td>
        <td th:text="${#numbers.formatDecimal(day.totalGramCarbohydrate,1,1)}"></td>
        <td th:text="${#numbers.formatDecimal(day.totalGramProtein,1,1)}"></td>

        <td th:text="${#numbers.formatDecimal(day.totalGramFiber,1,1)}"></td>
        <td th:text="${#numbers.formatDecimal(day.totalGramSugar,1,1)}"></td>




    </tr>
    </tbody>

    <tfoot>
    <tr>
        <th th:text="${'TOPLAM ' + #numbers.formatDecimal(summary.totalDays,1,0) + ' gün'}"></th>

        <th th:text="${#numbers.formatDecimal(summary.totalKcalTdee,1,0)}"></th>

        <th th:text="${#numbers.formatDecimal(summary.totalKcal,1,0)}"></th>

        <th th:text="${#numbers.formatDecimal(summary.totalKcalDiff,1,1)}"></th>
        <th th:text="${#numbers.formatDecimal(summary.totalGramDiff,1,2)}"></th>

        <th th:text="${#numbers.formatDecimal(summary.totalActivityKcal,1,1)}"></th>

        <th th:text="${#numbers.formatDecimal(summary.totalKcalDiffWithActivity,1,1)}"></th>
        <th th:text="${#numbers.formatDecimal(summary.totalGramDiffWithActivity,1,2)}"></th>

        <th>&nbsp;-&nbsp;</th>


        <th th:text="${#numbers.formatDecimal(summary.totalGram,1,0)}"></th>

        <th th:text="${#numbers.formatDecimal(summary.totalGramFat,1,1)}"></th>
        <th th:text="${#numbers.formatDecimal(summary.totalGramCarbohydrate,1,1)}"></th>
        <th th:text="${#numbers.formatDecimal(summary.totalGramProtein,1,1)}"></th>

        <th th:text="${#numbers.formatDecimal(summary.totalGramFiber,1,1)}"></th>
        <th th:text="${#numbers.formatDecimal(summary.totalGramSugar,1,1)}"></th>

    </tr>
    <tr>
        <th th:text="${'ORTALAMA'}"></th>

        <th th:text="${#numbers.formatDecimal(summary.averageKcalTdee,1,0)}"></th>

        <th th:text="${#numbers.formatDecimal(summary.averageKcal,1,0)}"></th>

        <th th:text="${#numbers.formatDecimal(summary.averageKcalDiff,1,1)}"></th>

        <th th:text="${#numbers.formatDecimal(summary.averageGramDiff,1,2)}"></th>

        <th th:text="${#numbers.formatDecimal(summary.averageActivityKcal,1,1)}"></th>

        <th th:text="${#numbers.formatDecimal(summary.averageKcalDiffWithActivity,1,1)}"></th>
        <th th:text="${#numbers.formatDecimal(summary.averageGramDiffWithActivity,1,2)}"></th>

        <th th:text="${#numbers.formatDecimal(summary.averageWeightKg,1,2)}"></th>

        <th th:text="${#numbers.formatDecimal(summary.averageGram,1,0)}"></th>

        <th th:text="${#numbers.formatDecimal(summary.averageGramFat,1,1)}"></th>
        <th th:text="${#numbers.formatDecimal(summary.averageGramCarbohydrate,1,1)}"></th>
        <th th:text="${#numbers.formatDecimal(summary.averageGramProtein,1,1)}"></th>

        <th th:text="${#numbers.formatDecimal(summary.averageGramFiber,1,1)}"></th>
        <th th:text="${#numbers.formatDecimal(summary.averageGramSugar,1,1)}"></th>

    </tr>

    <tr>
        <th th:text="${'4-4-9 KCAL'}"></th>
        <th>&nbsp;-&nbsp;</th>
        <th>&nbsp;-&nbsp;</th>
        <th>&nbsp;-&nbsp;</th>
        <th>&nbsp;-&nbsp;</th>
        <th>&nbsp;-&nbsp;</th>
        <th>&nbsp;-&nbsp;</th>
        <th>&nbsp;-&nbsp;</th>
        <th>&nbsp;-&nbsp;</th>
        <th th:text="${#numbers.formatDecimal(summary.averageGramKcalFatCarbProtein,1,1)}"></th>
        <th th:text="${#numbers.formatDecimal(summary.averageGramFatKcal,1,1)}"></th>
        <th th:text="${#numbers.formatDecimal(summary.averageGramCarbonhydrateKcal,1,1)}"></th>
        <th th:text="${#numbers.formatDecimal(summary.averageGramProteinKcal,1,1)}"></th>
        <th>&nbsp;-&nbsp;</th>
        <th>&nbsp;-&nbsp;</th>
    </tr>
    <tr>
        <th th:text="${'4-4-9 YÜZDE'}"></th>
        <th>&nbsp;-&nbsp;</th>
        <th>&nbsp;-&nbsp;</th>
        <th>&nbsp;-&nbsp;</th>
        <th>&nbsp;-&nbsp;</th>
        <th>&nbsp;-&nbsp;</th>
        <th>&nbsp;-&nbsp;</th>
        <th>&nbsp;-&nbsp;</th>
        <th>&nbsp;-&nbsp;</th>
        <th>100</th>
        <th th:text="${#numbers.formatDecimal(summary.averagePercentFat,1,1)}"></th>
        <th th:text="${#numbers.formatDecimal(summary.averagePercentCarbohydrate,1,1)}"></th>
        <th th:text="${#numbers.formatDecimal(summary.averagePercentProtein,1,1)}"></th>
        <th>&nbsp;-&nbsp;</th>
        <th>&nbsp;-&nbsp;</th>
    </tr>

    </tfoot>

</table>


<div>
    <label><input type="checkbox" data-dataset="kcalNeed"> Kcal İhtiyaç</label>
    <label><input type="checkbox" data-dataset="kcalFood"> Kcal Gıda</label>
    <label><input type="checkbox" data-dataset="kcalDiff"> Kcal Gıda Fark</label>
    <label><input type="checkbox" data-dataset="kgFoodDiff"> Kg Gıda Fark</label>
    <label><input type="checkbox" data-dataset="kcalActivity"> Kcal Aktivite</label>

    <label><input type="checkbox" checked data-dataset="kcalTotal"> Kcal Toplam Fark</label>

    <label><input type="checkbox" data-dataset="kgTotalDiff"> KG Toplam Fark</label>

    <label><input type="checkbox" checked data-dataset="weight"> KG Tartı</label>

    <label><input type="checkbox" data-dataset="foodTotal"> Gramaj</label>
    <label><input type="checkbox" data-dataset="fatTotal"> GR Yağ</label>
    <label><input type="checkbox" data-dataset="carbTotal"> GR Karb</label>
    <label><input type="checkbox" data-dataset="proteinTotal"> GR Protein</label>
    <label><input type="checkbox" data-dataset="fiberTotal"> GR Lif</label>
    <label><input type="checkbox" data-dataset="sugarTotal"> GR Şeker</label>




</div>

<canvas id="myChart"></canvas>




<script type="text/javascript" th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>

<script type="text/javascript"
        th:src="@{/webjars/bootstrap/5.3.7/js/bootstrap.min.js}"></script>

<script type="text/javascript" th:src="@{/webjars/bootstrap-datepicker/dist/js/bootstrap-datepicker.js}"></script>

<script type="text/javascript" th:src="@{/webjars/htmx.org/dist/htmx.min.js}"></script>

<script type="text/javascript" th:src="@{/webjars/datatables/2.3.0/js/dataTables.js}"></script>

<!-- https://datatables.net/plug-ins/sorting/turkish-string -->
<script src="https://cdn.datatables.net/plug-ins/2.3.2/sorting/turkish-string.js"></script>

<!-- chart -->
<script type="text/javascript" th:src="@{/webjars/chart.js/4.5.0/dist/chart.umd.js}"></script>



<!-- <script type="text/javascript" th:src="@{/webjars/datatables/2.3.0/js/dataTables.bootstrap5.min.js}"></script> -->
<script th:inline="javascript">
    const ZONE_ID = [[${zoneId}]];
    const FIRST_DATE_MILLIS = [[${firstDateMillis}]];
    const LAST_DATE_MILLIS = [[${lastDateMillis}]];
</script>

<script>
    $(document).ready(function () {
        let table = new DataTable('#caloriesTable', {
            pageLength: 50
        });
        // https://hatchjs.com/datatables-sort-by-date/
        // TODO asagidaki ayarlar ise yaramadi. Ogrenip tekrar dene.
        // table.order('Kalori', 'desc');
        // table.order(3 , 'desc');
    });

</script>


<script>
    function convertDateToMillis(dateStr) {

        // dateStr = "2026-04-06"

        const parts = dateStr.split("-");
        const year = parseInt(parts[0]);
        const month = parseInt(parts[1]) - 1; // JS month 0-based
        const day = parseInt(parts[2]);

        // Local midnight oluştur
        const localDate = new Date(year, month, day);

        return localDate.getTime();
    }

    function loadCalorieData(dateStr) {

        const millis = convertDateToMillis(dateStr);

        const url = `/food?dateMillis=${millis}`;

        // Sayfayı redirect ederek yenile
        window.location.href = url;
    }

    function convertMillisToDateStr(millis) {

        const date = new Date(millis);

        const year = date.getFullYear();
        const month = String(date.getMonth() + 1).padStart(2, '0');
        const day = String(date.getDate()).padStart(2, '0');

        return `${year}-${month}-${day}`;
    }

    function redirectToNewEntry(topicId) {

        let dateStr;

        if (DATE_MILLIS) {
            dateStr = convertMillisToDateStr(DATE_MILLIS);
        } else {
            dateStr = new Date().toISOString().slice(0, 10);
        }

        const url = `/entries/new?topicId=${topicId}&dateYmd=${dateStr}`;

        window.open(url, '_blank'); // yeni sekme
    }









</script>

<!--/* https://github.com/SheetJS/sheetjs https://docs.sheetjs.com/
new source repository URL is https://git.sheetjs.com/sheetjs/sheetjs*/-->
<script src="/webjars/xlsx/dist/xlsx.full.min.js"></script>

<!--/* <script src="https://cdn.jsdelivr.net/npm/xlsx@0.18.5/dist/xlsx.full.min.js"></script> */-->





<script>

    function convertMillisToDateStr(ms) {
        return new Date(ms).toISOString().slice(0, 10);
    }

    function convertDateToMillis(dateStr) {
        return new Date(dateStr + "T00:00:00").getTime();
    }

    let startStr = convertMillisToDateStr(FIRST_DATE_MILLIS);
    let endStr = convertMillisToDateStr(LAST_DATE_MILLIS);

    $('#startDate').val(startStr);
    $('#endDate').val(endStr);

    $('#startDate, #endDate').datepicker({
        format: "yyyy-mm-dd",
        autoclose: true,
        todayHighlight: true
    });

    function reloadRange() {
        const start = $('#startDate').val();
        const end = $('#endDate').val();

        const startMillis = convertDateToMillis(start);
        const endMillis = convertDateToMillis(end);

        window.location.href =
            `/food-date-range?firstDateMillis=${startMillis}&lastDateMillis=${endMillis}`;
    }

</script>

<script>
    // ilk sayfa yuklenmesinde checkboxlarla uyumlu olarak grafikte gorunmesi ve gorunmemesi gereken verileri halleder.
    function syncDatasetsWithCheckboxes(chart, datasetsMap) {
        document.querySelectorAll("input[type=checkbox]").forEach(cb => {
            const key = cb.dataset.dataset;
            const datasetIndex = Object.keys(datasetsMap).indexOf(key);

            if (!cb.checked) {
                chart.data.datasets[datasetIndex].hidden = true;
            }
        });

        chart.update();
    }
</script>

<script>
    const table = document.getElementById("rangeTable");
    const rows = table.querySelectorAll("tbody tr");

    const labels = [];
    const kcalNeed = [];
    const kcalFood = [];
    const kcalDiff = [];

    const kgFoodDiff = [];
    const kcalActivity = [];

    const kcalTotal = [];
    const kgTotalDiff = [];
    const weight = [];

    const foodTotal = [];
    const fatTotal = [];
    const carbTotal = [];
    const proteinTotal = [];
    const fiberTotal = [];
    const sugarTotal = [];


    rows.forEach(row => {
        const cells = row.querySelectorAll("td");

        labels.push(cells[0].innerText);

        kcalNeed.push(parseFloat(cells[1].innerText));
        kcalFood.push(parseFloat(cells[2].innerText));
        kcalDiff.push(parseFloat(cells[3].innerText));

        kgFoodDiff.push(parseFloat(cells[4].innerText));
        kcalActivity.push(parseFloat(cells[5].innerText));


        kcalTotal.push(parseFloat(cells[6].innerText));

        kgTotalDiff.push(parseFloat(cells[7].innerText));


        weight.push(parseFloat(cells[8].innerText));

        foodTotal.push(parseFloat(cells[9].innerText));
        fatTotal.push(parseFloat(cells[10].innerText));
        carbTotal.push(parseFloat(cells[11].innerText));
        proteinTotal.push(parseFloat(cells[12].innerText));
        fiberTotal.push(parseFloat(cells[13].innerText));
        sugarTotal.push(parseFloat(cells[14].innerText));





    });

    const datasets = {
        kcalNeed: {
            label: "Kcal İhtiyaç",
            data: kcalNeed,
            yAxisID: 'y',
            borderWidth: 2
        },
        kcalFood: {
            label: "Kcal Gıda",
            data: kcalFood,
            yAxisID: 'y',
            borderWidth: 2
        },
        kcalDiff: {
            label: "Kcal Gıda Fark",
            data: kcalDiff,
            yAxisID: 'y',
            borderWidth: 2
        },
        kgFoodDiff: {
            label: "Kg Gıda Fark",
            data: kgFoodDiff,
            yAxisID: 'y4',
            borderWidth: 2
        },
        kcalActivity: {
            label: "Kcal Activite",
            data: kcalActivity,
            yAxisID: 'y',
            borderWidth: 2
        },
        kcalTotal: {
            label: "Kcal Toplam Fark",
            data: kcalTotal,
            yAxisID: 'y',
            borderWidth: 2
        },
        kgTotalDiff: {
            label: "KG Toplam Fark",
            data: kgTotalDiff,
            yAxisID: 'y3',
            borderWidth: 2
        },
        weight: {
            label: "KG Tartı",
            data: weight,
            yAxisID: 'y1',
            borderWidth: 2
        },
        foodTotal: {
            label: "Gramaj",
            data: foodTotal,
            yAxisID: 'y',
            borderWidth: 2
        },
        fatTotal: {
            label: "GR Yağ",
            data: fatTotal,
            yAxisID: 'y2',
            borderWidth: 2
        },
        carbTotal: {
            label: "GR Karb",
            data: carbTotal,
            yAxisID: 'y2',
            borderWidth: 2
        },
        proteinTotal: {
            label: "GR Protein",
            data: proteinTotal,
            yAxisID: 'y2',
            borderWidth: 2
        },
        fiberTotal: {
            label: "GR Lif",
            data: fiberTotal,
            yAxisID: 'y2',
            borderWidth: 2
        },
        sugarTotal: {
            label: "GR Şeker",
            data: sugarTotal,
            yAxisID: 'y2',
            borderWidth: 2
        }

    };

    const chart = new Chart(document.getElementById("myChart"), {
        type: "line",
        data: {
            labels: labels,
            datasets: Object.values(datasets)
        },
        options: {
            responsive: true,
            scales: {
                y: {
                    beginAtZero: false,   // negatif değerler için önemli
                    type: 'linear',
                    position: 'left'
                },
                y1: {
                    type: 'linear',
                    position: 'right',
                    grid: {
                        drawOnChartArea: false // grid çakışmasını önler
                    }
                },
                y2: {
                    type: 'linear',
                    position: 'right',
                    grid: {
                        drawOnChartArea: false // grid çakışmasını önler
                    }
                },
                y3: {
                    type: 'linear',
                    position: 'right',
                    grid: {
                        drawOnChartArea: false // grid çakışmasını önler
                    }
                },
                y4: {
                    type: 'linear',
                    position: 'right',
                    grid: {
                        drawOnChartArea: false // grid çakışmasını önler
                    }
                }

            }
        }
    });

    syncDatasetsWithCheckboxes(chart, datasets);

</script>

<script>
    // checkboxlari secme veya secmeme durumuna gore grafikte verileri gosterip gizler.
    document.querySelectorAll("input[type=checkbox]").forEach(cb => {
        cb.addEventListener("change", function () {
            const key = this.dataset.dataset;
            const datasetIndex = Object.keys(datasets).indexOf(key);

            chart.data.datasets[datasetIndex].hidden = !this.checked;
            chart.update();
        });
    });
</script>



    </body>
    </html>