<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--
    This file is part of the DailyTopicTracker project.
    Please refer to the project's README.md file for additional details.
    https://github.com/turkerozturk/springtopiccalendar
    -->
    <meta charset="UTF-8">

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon-180x180.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">

    <title>Future Neutral Topics</title>
</head>
<body>
<h1>Next Neutral Topics</h1>
<table>
    <tr>
        <th>Prediction Date</th>
        <th>Name</th>
    </tr>
    <tr th:each="topic : ${topics}">
        <td th:text="${topic.firstFutureNeutralEntryDate}"></td>
        <td th:text="${topic.name}"></td>
    </tr>
</table>
</body>
</html>
