<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">




<head>
    <!--
    This file is part of the DailyTopicTracker project.
    Please refer to the project's README.md file for additional details.
    https://github.com/turkerozturk/springtopiccalendar
    -->
    <meta charset="UTF-8"/>

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon-180x180.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/css/all.min.css}">
    <title>Weekly Calendar</title>

    <style>

        .weekly-table-entry-cell {
                    text-align: center;      /* yatay ortalama */
                    vertical-align: middle;  /* dikey ortalama */
                    min-width: 20px;
                    min-height: 20px;

                    max-width: 20px;         /* Maksimum genişlik  */
                    max-height: 20px;         /* Maksimum genişlik  */

                    width: 20px;             /* Sabit genişlik  */
                    height: 20px;
                    padding: 0px;


                }

        a {
                    text-decoration: none;
                    color: inherit;
                    }

                    a:visited {
                        color: inherit;
                    }

                    a:hover {
                        color: blue;
                    }

                .centered {
                max-width: fit-content;
                  margin-left: auto;
                  margin-right: auto;
                  }

                .pivot-table-entry-cell {
                    text-align: center;      /* yatay ortalama */
                    vertical-align: middle;  /* dikey ortalama */
                    min-width: 20px;
                    min-height: 20px;

                    max-width: 20px;         /* Maksimum genişlik  */
                    max-height: 20px;         /* Maksimum genişlik  */

                    width: 20px;             /* Sabit genişlik  */
                    height: 20px;
                    padding: 0px;

                    background-color: WhiteSmoke !important;

                }

                .pivot-table-entry-cell a {
                text-decoration: none;   /* alt çizgiyi kaldır */
                color: inherit;          /* bulunduğu hücrenin rengini kullan */
                    padding: 0px;

                }

                .pivot-table-entry-cell a:visited {
                    color: inherit;          /* tıklanmış linkin rengini değiştirme */
                }

                 caption {
                    color: WhiteSmoke !important;
                }

        .status-0 {
         /*   background-color: gainsboro !important; */
         background: radial-gradient(circle, gainsboro 30%, rgba(255, 255, 255, 1) 100%);

        }
        .status-1 {
           /* background-color: palegreen !important; */
            background: radial-gradient(circle, palegreen 30%, rgba(255, 255, 255, 1) 100%);

        }
        .status-2 {
        /*    background-color: tomato !important; */
        background: radial-gradient(circle, Tomato 30%, rgba(255, 255, 255, 1) 100%);

        }
        .status-3 {
            background-color: LightBlue !important;
        }

    </style>
</head>

<body>


    <!-- Buradaki div senin asıl fragment -->
    <div th:fragment="content" th:remove="tag">
        <!-- senin entry-list içeriğin buraya gelecek -->

        <style>
            .edit-icon {
                visibility: hidden; /* başlangıçta görünmez */
                margin-left: 5px;
            }

            a:hover .edit-icon {
                visibility: visible;
            }
        </style>

        <div style="overflow-x: auto;" id="tableWrapperWeeklyCalendar">
            <table class="table-bordered" style="min-width:1920px;">

                <caption style="background-color:black;">
                    <h4 style="font-weight:bold;color:white;text-align:right;margin-right:130px;">
                        <a th:href="@{/topics/edit/{id}(id=${topic.id})}" style="text-decoration:none; color:white;">
                            <span th:text="${topic.name}"></span>
                            <span class="edit-icon">✎</span>
                        </a>
                    </h4>
                </caption>


                <thead>

                <tr>
                    <th style="font-size:0.7em;font-weight:normal;color:darkgray;background-color:WhiteSmoke;">Week Counter</th>
                    <th:block th:each="weekNumber : ${weekNumbers}">
                        <th th:text="${weekNumber}" style="font-size:0.7em;font-weight:normal;color:black;background-color:WhiteSmoke;"></th>
                    </th:block>
                    <th style="font-size:0.7em;font-weight:normal;color:darkgray;background-color:WhiteSmoke;">Week Counter</th>
                </tr>

                <tr>
                    <th style="font-size:0.7em;font-weight:normal;color:darkgray;background-color:WhiteSmoke;">Year</th>
                    <th:block th:each="columnDate : ${top1ColumnDates}">
                        <th th:text="${columnDate}" style="font-size:0.7em;font-weight:normal;color:darkgray;background-color:WhiteSmoke;"></th>
                    </th:block>
                    <th style="font-size:0.7em;font-weight:normal;color:darkgray;background-color:WhiteSmoke;">Year</th>
                </tr>
                <tr>
                    <th style="font-size:0.7em;font-weight:normal;color:darkgray;background-color:WhiteSmoke;">Month</th>
                    <th:block th:each="columnDate : ${top2ColumnDates}">
                        <th th:text="${columnDate}" style="font-size:0.7em;font-weight:normal;color:darkgray;background-color:WhiteSmoke;"></th>
                    </th:block>
                    <th style="font-size:0.7em;font-weight:normal;color:darkgray;background-color:WhiteSmoke;">Month</th>
                </tr>
                <tr>
                    <th style="font-size:0.7em;font-weight:normal;color:darkgray;background-color:WhiteSmoke;">Day</th>
                    <th:block th:each="columnDate : ${top3ColumnDates}">
                        <th th:text="${columnDate}" style="font-size:0.7em;font-weight:normal;color:gray;background-color:WhiteSmoke;"></th>
                    </th:block>
                    <th style="font-size:0.7em;font-weight:normal;color:darkgray;background-color:WhiteSmoke;">Day</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="dayMap, stat : ${weeklyMaps}">



                    <!-- http://xahlee.info/comp/unicode_arrows.html -->
                    <td th:style="${dayNames[stat.index]} == ${startDateDayName} ? 'background-color: lightgray;' : 'background-color: WhiteSmoke;'">
                        <div style="display: flex; justify-content: center; align-items: center; position: relative;">
                            <span th:if="${dayNames[stat.index]} == ${startDateDayName}" style="position: absolute; right: 5px;">→</span>
                            <span style="margin: 0 auto;" th:text="${dayNames[stat.index]}"></span>
                        </div>
                    </td>


                    <th:block th:each="entry : ${dayMap}">


                        <th:block th:if="${entry.value != null }">
                            <th:block th:if="${entry.value.status != -1 }">
                                <td
                                    th:attr="data-tooltip=${entry.key} + '&lt;br&gt;entry id: ' + ${entry.value.id},
                                             onmouseenter='showCustomTooltip(this)',
                                             onmouseleave='hideCustomTooltip()',
                                             hx-get=@{/entries/{id}/note-full(id=${entry.value.id})}"
                                    th:class="'weekly-table-entry-cell status-' + ${entry.value.status}"
                                    th:data-ymd="${entry.key}"
                                    style="padding:0;"
                                    hx-trigger="click"
                                    hx-target="#noteModal2 .modal-body"
                                    hx-swap="innerHTML"
                                >
                                    <span th:if="${!#strings.isEmpty(entry.value.note.content)}"
                                          th:text="${'@'}"></span>

                                </td>







                            </th:block>


                            <!-- visualising disabled cells, no data, outside of date range -->
                            <th:block th:if="${entry.value.status == -1 }">
                                <td th:text="'&nbsp;'"
                                    style="background-color:WhiteSmoke;padding:0;"
                                    th:attr="data-tooltip=${entry.key} + '&lt;br&gt;[Outside of the date range]', onmouseenter='showCustomTooltip(this)', onmouseleave='hideCustomTooltip()'"
                                    th:data-ymd="${entry.key}"
                                >
                                    X
                                </td>
                            </th:block>

                        </th:block>

                        <!-- 2a) Eğer hiç entry yoksa 'New Entry' linki göster -->
                        <th:block th:if="${entry.value == null }">
                            <td class="weekly-table-entry-cell"
                                th:data-tooltip="${entry.key}"
                                th:attr="onmouseenter='showCustomTooltip(this)', onmouseleave='hideCustomTooltip()'"
                                th:data-ymd="${entry.key}"
                                style="padding:0;"

                            >
                                &nbsp;
                            </td>
                        </th:block>





                    </th:block>



                    <!-- http://xahlee.info/comp/unicode_arrows.html -->
                    <td th:style="${dayNames[stat.index]} == ${todayDateDayName} ? 'background-color: lightyellow;' : 'background-color: WhiteSmoke;'">
                        <div style="display: flex; justify-content: center; align-items: center; position: relative;">
                            <span th:if="${dayNames[stat.index]} == ${todayDateDayName}" style="position: absolute; left: 5px;">←</span>
                            <span style="margin: 0 auto;" th:text="${dayNames[stat.index]}"></span>
                        </div>
                    </td>



                </tr>
                </tbody>

                <tfoot>
                <tr>
                    <th style="font-size:0.7em;font-weight:normal;color:darkgray;background-color:WhiteSmoke;">Day</th>
                    <th:block th:each="columnDate : ${bottom1ColumnDates}">
                        <th th:text="${columnDate}" style="font-size:0.7em;font-weight:normal;color:gray;background-color:WhiteSmoke;"></th>
                    </th:block>
                    <th style="font-size:0.7em;font-weight:normal;color:darkgray;background-color:WhiteSmoke;">Day</th>
                </tr>
                <tr>
                    <th style="font-size:0.7em;font-weight:normal;color:darkgray;background-color:WhiteSmoke;">Month</th>
                    <th:block th:each="columnDate : ${bottom2ColumnDates}">
                        <th th:text="${columnDate}" style="font-size:0.7em;font-weight:normal;color:darkgray;background-color:WhiteSmoke;"></th>
                    </th:block>
                    <th style="font-size:0.7em;font-weight:normal;color:darkgray;background-color:WhiteSmoke;">Month</th>
                </tr>
                <tr>
                    <th style="font-size:0.7em;font-weight:normal;color:darkgray;background-color:WhiteSmoke;">Year</th>
                    <th:block th:each="columnDate : ${bottom3ColumnDates}">
                        <th th:text="${columnDate}" style="font-size:0.7em;font-weight:normal;color:darkgray;background-color:WhiteSmoke;"></th>
                    </th:block>
                    <th style="font-size:0.7em;font-weight:normal;color:darkgray;background-color:WhiteSmoke;">Year</th>
                </tr>
                </tfoot>


            </table>
        </div>


        <style>
            span.col-2::-webkit-scrollbar {
          display: none;
        }

        span.col-2 {
          -ms-overflow-style: none;  /* IE, Edge */
          scrollbar-width: none;     /* Firefox */
        }


        </style>

<!--
        <div class="row" style="height: 500px;">
            <span class="col-2"
                  style="background-color:FloralWhite; padding:1px; height:100%; overflow-y:auto; overflow-x:hidden;">
                <th:block th:replace="~{entries/_weekly_fragments :: topicBox(${topic})}"></th:block>

            </span>
            <span class="col-2"
                  style="background-color:FloralWhite; padding:1px; height:100%; overflow-y:auto; overflow-x:hidden;">
                 <th:block th:replace="~{entries/_weekly_fragments :: datesTableBox(${totalDays}, ${beginDate}, ${zoneId}, ${oldestDoneDate}, ${topic}, ${today}, ${finishDate})}"></th:block>

            </span>
            <span class="col-2"
                  style="background-color:FloralWhite; padding:1px; height:100%; overflow-y:auto; overflow-x:hidden;">
                 <th:block th:replace="~{entries/_weekly_fragments :: weekdaysBox(${streakTotalDays}, ${dayNamesLong}, ${todayDateDayName}, ${status0}, ${status1}, ${status2}, ${totalStatus0}, ${totalStatus1}, ${totalStatus2})}"></th:block>

            </span>
            <span class="col-2"
                  style="background-color:FloralWhite; padding:1px; height:100%; overflow-y:auto; overflow-x:hidden;">
                 <th:block th:replace="~{entries/_weekly_fragments :: customParserBox(${topic}, ${parserReport})}"></th:block>

            </span>
            <span class="col-2"
                  style="background-color:FloralWhite; padding:1px; height:100%; overflow-y:auto; overflow-x:hidden;">
                 <th:block th:replace="~{entries/_weekly_fragments :: streaksBox(${streakTotalDays}, ${newestStreak}, ${uniqueTopStreaks}, ${streakCounters})}"></th:block>

            </span>
            <span class="col-2"
                  style="background-color:FloralWhite; padding:1px; height:100%; overflow-y:auto; overflow-x:hidden;">
                 <th:block th:replace="~{entries/_weekly_fragments :: rulesBox(${topic}, ${patternSuccessRate}, ${patternSuccessText}, ${patternDebugResult})}">

            </span>
        </div>
-->


        <!-- Asagidaki bloktakiler mobil cihazda gorunmezken masaustu genis ekranda gorunurler. Yanyana 6 tane bolum seklinde -->
        <div th:if="${!isMobile}" class="row d-none d-md-flex" style="height:500px;">
            <div class="col-2 bg-light p-1" style="height:100%; overflow-y:auto;">
                <th:block th:replace="~{entries/_weekly_fragments :: topicBox(${topic})}"></th:block>
            </div>
            <div class="col-2 bg-light p-1" style="height:100%; overflow-y:auto;">
                <th:block th:replace="~{entries/_weekly_fragments :: datesTableBox(${totalDays}, ${beginDate}, ${zoneId}, ${oldestDoneDate}, ${topic}, ${today}, ${finishDate})}"></th:block>
            </div>
            <div class="col-2 bg-light p-1" style="height:100%; overflow-y:auto;">
                <th:block th:replace="~{entries/_weekly_fragments :: weekdaysBox(${streakTotalDays}, ${dayNamesLong}, ${todayDateDayName}, ${status0}, ${status1}, ${status2}, ${totalStatus0}, ${totalStatus1}, ${totalStatus2})}"></th:block>
            </div>
            <div class="col-2 bg-light p-1" style="height:100%; overflow-y:auto;">
                <th:block th:replace="~{entries/_weekly_fragments :: customParserBox(${topic}, ${parserReport})}"></th:block>
            </div>
            <div class="col-2 bg-light p-1" style="height:100%; overflow-y:auto;">
                <th:block th:replace="~{entries/_weekly_fragments :: streaksBox(${streakTotalDays}, ${newestStreak}, ${uniqueTopStreaks}, ${streakCounters})}"></th:block>
            </div>
            <div class="col-2 bg-light p-1" style="height:100%; overflow-y:auto;">
                <th:block th:replace="~{entries/_weekly_fragments :: rulesBox(${topic}, ${patternSuccessRate}, ${patternSuccessText}, ${patternDebugResult})}"></th:block>
            </div>
        </div>



        <!-- Asagidaki bloktakiler saga sola kaydirilabilir ve sadece mobilde gorunurler. Daha dogrusu yukaridaki gorunmuyorken asagidaki gorunur. -->
        <div th:if="${isMobile}" class="d-flex d-md-none overflow-x-auto"
             style="scroll-snap-type: x mandatory; height:500px;">
            <div class="flex-shrink-0 w-100 bg-light p-1" style="scroll-snap-align: start;">
                <th:block th:replace="~{entries/_weekly_fragments :: topicBox(${topic})}"></th:block>
            </div>
            <div class="flex-shrink-0 w-100 bg-light p-1" style="scroll-snap-align: start;">
                <th:block th:replace="~{entries/_weekly_fragments :: datesTableBox(${totalDays}, ${beginDate}, ${zoneId}, ${oldestDoneDate}, ${topic}, ${today}, ${finishDate})}"></th:block>
            </div>
            <div class="flex-shrink-0 w-100 bg-light p-1" style="scroll-snap-align: start;">
                <th:block th:replace="~{entries/_weekly_fragments :: weekdaysBox(${streakTotalDays}, ${dayNamesLong}, ${todayDateDayName}, ${status0}, ${status1}, ${status2}, ${totalStatus0}, ${totalStatus1}, ${totalStatus2})}"></th:block>
            </div>
            <div class="flex-shrink-0 w-100 bg-light p-1" style="scroll-snap-align: start;">
                <th:block th:replace="~{entries/_weekly_fragments :: customParserBox(${topic}, ${parserReport})}"></th:block>
            </div>
            <div class="flex-shrink-0 w-100 bg-light p-1" style="scroll-snap-align: start;">
                <th:block th:replace="~{entries/_weekly_fragments :: streaksBox(${streakTotalDays}, ${newestStreak}, ${uniqueTopStreaks}, ${streakCounters})}"></th:block>
            </div>
            <div class="flex-shrink-0 w-100 bg-light p-1" style="scroll-snap-align: start;">
                <th:block :replace="~{entries/_weekly_fragments :: rulesBox(${topic}, ${patternSuccessRate}, ${patternSuccessText}, ${patternDebugResult})}"></th:block>
            </div>

        </div>








    <div id="custom-tooltip-popup" style="display: none; position: fixed; top: 40%; left: 50%; transform: translate(-50%, -50%);
    background-color: white; border: 2px solid gray; padding: 20px 30px; z-index: 9999; box-shadow: 0 4px 12px rgba(0,0,0,0.3); border-radius: 10px;">
        <div id="custom-tooltip-text" style="margin: 0; font-size: 1.5rem;"></div>
    </div>

    <!-- sayfanın en altına yakın bir yere ekleyin -->
    <div class="modal fade" id="noteModal2" tabindex="-1" aria-labelledby="noteModal2Label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="noteModal2Label">Note Detail</h5>
                    &nbsp;
                    <button type="button" class="btn btn-outline-secondary btn-sm" id="copyNoteBtn2">Copy</button>

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="white-space: pre-line;height: 600px;overflow-y:scroll;">
                    <!-- HTMX ile buraya tam içerik gelecek, pre-line sayesinde satirlar yanyana degil altalta gorunuyor -->
                </div>
            </div>
        </div>
    </div>


    <!-- trend intervals chart ikinci varyasyon -->
    <!--
    <script th:inline="javascript" th:if="${topic.someTimeLater != null && topic.someTimeLater > 0}">
        /*<![CDATA[*/
            var intervals3 = [[${intervals}]];
            var labels3 = intervals3.map(function(_, idx) {
                return "T-" + (intervals3.length - 1 - idx);
            });

            var target3 = [[${topic.someTimeLater}]];

            // Her noktaya özel renk: 4–6 gün arası yeşil, diğerleri kırmızı
            var pointColors3 = intervals3.map(function(val) {
                return (val >= 4 && val <= 6) ? 'green' : 'red';
            });

            var ctx3 = document.getElementById('intervalChart2').getContext('2d');

            var chart3 = new Chart(ctx3, {
                type: 'line',
                data: {
                    labels: labels3,
                    datasets: [
                        {
                            label: 'Aralık (Gün)',
                            data: intervals3,
                            borderColor: 'blue',
                            backgroundColor: 'rgba(0, 0, 255, 0.1)',
                            tension: 0.3,
                            pointRadius: 5,
                            pointBackgroundColor: pointColors3,
                            pointBorderColor: pointColors3
                        },
                        {
                            label: 'Hedef Gün ([[${topic.someTimeLater}]])',
                            data: Array(intervals3.length).fill(target3),
                            borderColor: 'green',
                            borderDash: [5, 5],
                            borderWidth: 1,
                            pointRadius: 0
                        }
                    ]
                },
                options: {
                    responsive: true,
                    plugins: {
                        title: {
                            display: true,
                            text: 'Alışkanlık Günlük Aralık Grafiği (Renkli Noktalar)'
                        },
                        legend: {
                            position: 'top'
                        }
                    },
                    scales: {
                        y: {
                            beginAtZero: true,
                            title: {
                                display: true,
                                text: 'Gün Aralığı'
                            }
                        },
                        x: {
                            title: {
                                display: true,
                                text: 'Zaman (Geriye Doğru)'
                            }
                        }
                    }
                }
            });
        /*]]>*/
    </script>
    -->

        <!-- chart -->
        <script type="text/javascript" th:src="@{/webjars/chart.js/4.5.0/dist/chart.umd.js}"></script>
        <!-- <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@1.4.0"></script> -->
        <script th:src="@{/js/chartjs-plugin-annotation.js}"></script>
        <!-- https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@3.0.0/dist/chartjs-adapter-date-fns.bundle.min.js -->
        <script th:src="@{/js/chartjs-adapter-date-fns.bundle.min.js}"></script>


    <script type="text/javascript"
            th:src="@{/webjars/bootstrap/5.3.7/js/bootstrap.min.js}"></script>


    <script>

        document.addEventListener('htmx:afterSwap', function() {
          const wrapper = document.getElementById("tableWrapperWeeklyCalendar");
          if (wrapper) {
            wrapper.scrollLeft = wrapper.scrollWidth; // en sağa kaydır
          }
        });

    </script>

    <script>
        document.addEventListener('htmx:afterSwap', function() {
          let scroller = document.querySelector(".d-flex.d-md-none");
          if (scroller) {
            let secondBox = scroller.children[1];
            if (secondBox) {
              scroller.scrollLeft = secondBox.offsetLeft;
            }
          }
        });
    </script>

    <script>
        document.body.addEventListener('htmx:afterSwap', function () {
            if (window.blinkIntervalStarted) return;
            window.blinkIntervalStarted = true;

            setInterval(function () {
                document.querySelectorAll("span[id^='baseDatePlaceHolder']").forEach(function (span) {
                    const baseDate = span.textContent.trim();
                    if (!baseDate) return;

                    const tdBase = document.querySelector(`td[data-ymd='${baseDate}']`);
                    if (!tdBase) return;


                    const highlightGradient = 'radial-gradient(circle, ForestGreen 30%, rgba(255, 255, 255, 1) 100%)';
                    toggleBlinkMarker(tdBase, highlightGradient);
                });

                document.querySelectorAll("span[id^='endDatePlaceHolder']").forEach(function (span) {
                    const endDate = span.textContent.trim();
                    if (!endDate) return;

                    const tdEnd = document.querySelector(`td[data-ymd='${endDate}']`);
                    if (!tdEnd) return;

                    const highlightGradient = 'radial-gradient(circle, purple 30%, rgba(255, 255, 255, 1) 100%)';
                    toggleBlinkMarker(tdEnd, highlightGradient);
                });


                // EXTRA: span#baseDatePlaceHolder
                const baseSpan = document.getElementById("baseDatePlaceHolder");
                if (baseSpan) {
                    const highlightGradient = 'radial-gradient(circle, ForestGreen 30%, rgba(255, 255, 255, 1) 100%)';
                    toggleBlinkMarker(baseSpan, highlightGradient);
                }

                // EXTRA: span#endDatePlaceHolder
                const endSpan = document.getElementById("endDatePlaceHolder");
                if (endSpan) {
                    const highlightGradient = 'radial-gradient(circle, purple 30%, rgba(255, 255, 255, 1) 100%)';
                    toggleBlinkMarker(endSpan, highlightGradient);
                }


            }, 750);


            setInterval(function () {

                // PREDICTION DATE BLINK
                document.querySelectorAll("td[id^='predictionDatePlaceHolder']").forEach(function (td) {
                    const predictionDate = td.textContent.trim();
                    if (!predictionDate) return;

                    const tdPrediction = document.querySelector(`td[data-ymd='${predictionDate}']`);
                    if (!tdPrediction) return;

                    const highlightGradient = 'radial-gradient(circle, LightBlue 30%, rgba(255, 255, 255, 1) 100%)';
                    toggleBlinkMarker(tdPrediction, highlightGradient);
                });

            }, 1500);


        });


        // Meger elementin icinde(yani inline) olmayan CSS kodlarini getComputedStyle ile elde etmemiz gerekiyormus. Yoksa bos geliyor.
        function toggleBlinkMarker(td, highlightGradient) {
            if (td.dataset.originalGradient === undefined) {
                const computedBg = getComputedStyle(td).background;
                td.dataset.originalGradient = computedBg;
                td.dataset.blinkState = 'off';
            }

            if (td.dataset.blinkState === 'off') {
                td.dataset.blinkState = 'on';
                td.style.background = highlightGradient;
                td.style.color = 'white';
            } else {
                td.dataset.blinkState = 'off';
                td.style.background = td.dataset.originalGradient;
                td.style.color = 'black';
            }
        }


    </script>






    <!-- streak chart -->
    <script>
        (() => {
            const existingChart = Chart.getChart("streakChart");
            if (existingChart) {
                existingChart.destroy();
            }

            const labels = /*[[${labelsJson}]]*/ [];
            const dataValues = /*[[${dataJson}]]*/ [];

            const data = {
                labels: labels,
                datasets: [{
                    label: 'Gün Sayısı',
                    data: dataValues,
                    backgroundColor: 'rgba(33, 99, 132, 0.6)',
                    borderColor: 'rgba(33, 99, 132, 1)',
                    borderWidth: 1,
                    barThickness: 20
                }]
            };

            const config = {
                type: 'bar',
                data: data,
                options: {
                    indexAxis: 'y',
                    responsive: true,
                    plugins: {
                        legend: { display: false },
                        tooltip: {
                            callbacks: {
                                label: ctx => ` ${ctx.raw} gün`
                            }
                        }
                    },
                    scales: {
                        x: { beginAtZero: false }
                    }
                }
            };

            new Chart(
                document.getElementById('streakChart'),
                config
            );
        })();
    </script>



        <script th:inline="javascript">
            /*<![CDATA[*/
            var status1Counts = [[${status1}]];
            var labels = [[${dayNamesShort}]];

            var ctx = document.getElementById('status1Chart');
            var statusChart;

            function initStatusChart() {
                if (!ctx) return;
                if (statusChart) {
                    statusChart.destroy(); // varsa temizle
                }
                statusChart = new Chart(ctx, {
                    type: 'pie',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: 'Status 1 Entries',
                            data: status1Counts,
                            backgroundColor: [
                                '#FF6384', '#36A2EB', '#FFCE56', '#4BC0C0',
                                '#9966FF', '#FF9F40', '#66BB6A'
                            ]
                        }]
                    },
                    options: {
                        responsive: true,
                        plugins: {
                            legend: { position: 'top' },
                            title: {
                                display: true,
                                text: 'Distribution of entries marked as "Done" by day of the week'
                            }
                        }
                    }
                });
            }

            document.addEventListener("DOMContentLoaded", initStatusChart);

            // HTMX ile parça yüklenirse tekrar çiz
            document.body.addEventListener("htmx:afterSwap", initStatusChart);

            // Ekran genişliği değişince grafiği yeniden boyutlandır
            window.addEventListener("resize", function() {
                if (statusChart) statusChart.resize();
            });
            /*]]>*/
        </script>




        <script th:inline="javascript" th:if="${topic.dataClassName == 'MeasurementParser'}">
        /*<![CDATA[*/

        var parsed = JSON.parse(/*[[${parsedDataAsJSON}]]*/ "null");


       // console.log("Parsed JSON:", parsed);



            var parserLabels = parsed.data.map(item => item.date);
            var parserDataValues = parsed.data.map(item => item.value);

            var minValue = Math.min(...parserDataValues);
            var maxValue = Math.max(...parserDataValues);

            // Küçük bir buffer payı ekleyelim ki çizgi grafik taşmasın:
            var yMin = Math.floor(minValue - (maxValue - minValue) * 0.2);
            var yMax = Math.ceil(maxValue + (maxValue - minValue) * 0.2);


            var parserCtx = document.getElementById('measurementChart').getContext('2d');
            var myChart = new Chart(parserCtx, {
                type: 'line',
                data: {
                    labels: parserLabels,
                    datasets: [{
                        label: parsed.parser + ' (' + parsed.unit + ')',
                        data: parserDataValues,
                        fill: false,
                        borderColor: 'rgb(35, 92, 92)',
                        backgroundColor: 'rgba(35, 92, 92, 0.2)',
                        tension: 0.3,
                        borderWidth: 1,
                        pointRadius: 0.5
                    }]
                },
                options: {
                    responsive: true,
                    scales: {
                        x: {
                            type: 'time',
                            title: {
                                display: false,
                                text: 'Date'
                            },
                            time: {  // ✅ Bu kritik!
                                unit: 'day', // veya 'month', 'week' ihtiyacına göre
                                tooltipFormat: 'yyyy-MM-dd',
                                displayFormats: {
                                    day: 'yyyy-MM-dd'
                                }
                            },
                            ticks: {
                                maxRotation: 90, // maksimum döndürme derecesi
                                minRotation: 90, // minimum döndürme derecesi
                            }
                        },
                        y: {
                            min: yMin,
                            max: yMax,
                            title: {
                                display: true,
                                text: parsed.unit
                            },
                            beginAtZero: true
                        }
                    },
                    plugins: {
                        title: {
                            display: false,
                            text: 'Measurement Over Time'
                        },
                        tooltip: {
                            callbacks: {
                                label: function(context) {
                                    return context.parsed.y + ' ' + parsed.unit;
                                }
                            }
                        },
                        legend: {
                            display: false
                        },
                        annotation: {
                            annotations: {
                                averageLine: {
                                    type: 'line',
                                    yMin: parsed.average,
                                    yMax: parsed.average,
                                    borderColor: 'blue',
                                    borderWidth: 1,
                                    borderDash: [6, 6] // kesikli cizgi

                                }
                            }

                        }
                    }
                }
            });




/*]]>*/

    </script>



    <script>
        var tooltipTimeout;

        function showCustomTooltip(element) {
          const popup = document.getElementById('custom-tooltip-popup');
          const popupText = document.getElementById('custom-tooltip-text');
          const tooltipHtml = element.getAttribute('data-tooltip');

          if (!tooltipHtml) return;

          popupText.innerHTML = tooltipHtml; // HTML yorumlansın diye textContent değil innerHTML
          popup.style.display = 'block';

          tooltipTimeout = setTimeout(() => {
            popup.style.display = 'none';
          }, 5000);
        }


        function hideCustomTooltip() {
          const popup = document.getElementById('custom-tooltip-popup');
          popup.style.display = 'none';
          clearTimeout(tooltipTimeout);
        }
    </script>

    <script>
        // HTMX olayı: içerik yüklendikten hemen sonra
        document.body.addEventListener('htmx:afterSwap', function(evt) {
          // Eğer swap hedefi modal-body içindeyse
          if (evt.detail.target.closest('#noteModal2 .modal-body')) {
            // Bootstrap modal’ı göster
            var modalEl = document.getElementById('noteModal2');
            var modal = new bootstrap.Modal(modalEl);
            modal.show();

            // Copy butonunu bağla
            document.getElementById('copyNoteBtn2').onclick = function() {
              var text = modalEl.querySelector('.modal-body').innerText;
              navigator.clipboard.writeText(text)
                .then(() => {/* dilerseniz kullanıcıya bildirim gösterin */});
            };
          }
        });
    </script>

    <script>
        function showPatternHelp() {
            const htmlContent = `
            <table class="table table-sm table-bordered">
                <thead>
                    <tr><th>Character</th><th>Description</th></tr>
                </thead>
                <tbody>

                    <tr><th colspan="2">Beginning Characters</th></tr>

                    <tr><td>'</td><td>Disable</td></tr>
                    <tr><td>!</td><td>Strict</td></tr>
                    <tr><td>-</td><td>Opposite</td></tr>

                    <tr><th colspan="2">Rule Characters</th></tr>

                    <tr><td>1</td><td>Exact match for ONE</td></tr>
                    <tr><td>0</td><td>Exact match for ZERO</td></tr>
                    <tr><td>?</td><td>Either 0 or 1 is allowed</td></tr>
                    <tr><td>*</td><td>At least one must be ONE</td></tr>
                    <tr><td>&amp;</td><td>At least one must be ZERO</td></tr>
                    <tr><td>%</td><td>Exactly one must be ONE</td></tr>
                    <tr><td>#</td><td>Exactly one must be ZERO</td></tr>
                    <tr><td>+</td><td>All must be either all ONEs or all ZEROs</td></tr>
                    <tr><td>$</td><td>Exactly two must be ONE</td></tr>
                    <tr><td>@</td><td>Exactly two must be ZERO</td></tr>
                    <tr><td>^</td><td>All must be ONE</td></tr>
                    <tr><td>|</td><td>All must be ZERO</td></tr>
                </tbody>
            </table>
            `;

            const modalBody = document.querySelector('#noteModal2 .modal-body');
            const modalTitle = document.getElementById('noteModal2Label');
            if (modalBody && modalTitle) {
                modalBody.innerHTML = htmlContent;
                modalTitle.textContent = 'Pattern Help';
                new bootstrap.Modal(document.getElementById('noteModal2')).show();
            }
        }
    </script>


    <script>
        function showPatternDebug() {
            const patternData = document.getElementById('patternDebugData').dataset.pattern;

            const modalBody = document.querySelector('#noteModal2 .modal-body');
            const modalTitle = document.getElementById('noteModal2Label');
            if (modalBody && modalTitle) {
                //modalBody.textContent = patternData; // pre-line sayesinde satırları korur
                modalBody.innerHTML = patternData; // örneğin renklendirilmiş HTML varsa

                modalTitle.textContent = 'Pattern Debug Info';
                new bootstrap.Modal(document.getElementById('noteModal2')).show();
            }
        }
    </script>



    </div> <!-- bu div cok onemli. fragment bitisi. scriptler yukarida olmali. -->




</body>
</html>
