<!--
This file is part of the DailyTopicTracker project.
Please refer to the project's README.md file for additional details.
https://github.com/turkerozturk/springtopiccalendar
-->

<div xmlns:th="http://www.thymeleaf.org" th:remove="tag">


    <table class="table-bordered">

        <caption style="background-color:black;">
            <h4 th:text="${topic.name}" style="font-weight:bold;color:white;text-align:right;margin-right:130px;"></h4>
        </caption>

        <thead>

        <tr>
            <th style="font-size:0.7em;font-weight:normal;color:darkgray;background-color:WhiteSmoke;">Week Counter</th>
            <th:block th:each="weekNumber : ${weekNumbers}">
                <th th:text="${weekNumber}" style="font-size:0.7em;font-weight:normal;color:black;background-color:WhiteSmoke;"></th>
            </th:block>
            <th style="font-size:0.7em;font-weight:normal;color:darkgray;background-color:WhiteSmoke;">Week Counter</th>
        </tr>

        <tr>
            <th style="font-size:0.7em;font-weight:normal;color:darkgray;background-color:WhiteSmoke;">Year</th>
            <th:block th:each="columnDate : ${top1ColumnDates}">
                <th th:text="${columnDate}" style="font-size:0.7em;font-weight:normal;color:darkgray;background-color:WhiteSmoke;"></th>
            </th:block>
            <th style="font-size:0.7em;font-weight:normal;color:darkgray;background-color:WhiteSmoke;">Year</th>
        </tr>
        <tr>
            <th style="font-size:0.7em;font-weight:normal;color:darkgray;background-color:WhiteSmoke;">Month</th>
            <th:block th:each="columnDate : ${top2ColumnDates}">
                <th th:text="${columnDate}" style="font-size:0.7em;font-weight:normal;color:darkgray;background-color:WhiteSmoke;"></th>
            </th:block>
            <th style="font-size:0.7em;font-weight:normal;color:darkgray;background-color:WhiteSmoke;">Month</th>
        </tr>
        <tr>
            <th style="font-size:0.7em;font-weight:normal;color:darkgray;background-color:WhiteSmoke;">Day</th>
            <th:block th:each="columnDate : ${top3ColumnDates}">
                <th th:text="${columnDate}" style="font-size:0.7em;font-weight:normal;color:gray;background-color:WhiteSmoke;"></th>
            </th:block>
            <th style="font-size:0.7em;font-weight:normal;color:darkgray;background-color:WhiteSmoke;">Day</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="dayMap, stat : ${weeklyMaps}">



            <!-- http://xahlee.info/comp/unicode_arrows.html -->
            <td th:style="${dayNames[stat.index]} == ${startDateDayName} ? 'background-color: lightgray;' : 'background-color: WhiteSmoke;'">
                <div style="display: flex; justify-content: center; align-items: center; position: relative;">
                    <span th:if="${dayNames[stat.index]} == ${startDateDayName}" style="position: absolute; right: 5px;">→</span>
                    <span style="margin: 0 auto;" th:text="${dayNames[stat.index]}"></span>
                </div>
            </td>


            <th:block th:each="entry : ${dayMap}">


                <th:block th:if="${entry.value != null }">
                    <th:block th:if="${entry.value.status != -1 }">
                        <td th:text="${entry.value.status}"
                            th:attr="title=${entry.key} + ' ' + ${entry.value.id},
                            onmouseenter='showCustomTooltip(this)',
                            onmouseleave='hideCustomTooltip()',
                            hx-get=@{/entries/{id}/note-full(id=${entry.value.id})}"
                            th:class="'weekly-table-entry-cell status-' + ${entry.value.status}"
                            th:data-ymd="${entry.key}"
                            style="padding:0;"

                            hx-trigger="click"
                            hx-target="#noteModal2 .modal-body"
                            hx-swap="innerHTML"


                        >
                            @
                        </td>






                    </th:block>


                    <!-- visualising disabled cells, no data, outside of date range -->
                    <th:block th:if="${entry.value.status == -1 }">
                        <td th:text="''"
                            style="background-color:WhiteSmoke;padding:0;"
                            th:attr="title=${entry.key} + ' [Outside of the date range]', onmouseenter='showCustomTooltip(this)', onmouseleave='hideCustomTooltip()'"
                            th:data-ymd="${entry.key}"
                        >
                            X
                        </td>
                    </th:block>

                </th:block>

                <!-- 2a) Eğer hiç entry yoksa 'New Entry' linki göster -->
                <th:block th:if="${entry.value == null }">
                    <td class="weekly-table-entry-cell"
                        th:title="${entry.key}"
                        th:attr="onmouseenter='showCustomTooltip(this)', onmouseleave='hideCustomTooltip()'"
                        th:data-ymd="${entry.key}"
                        style="padding:0;"

                    >
                        &nbsp;
                    </td>
                </th:block>





            </th:block>



            <!-- http://xahlee.info/comp/unicode_arrows.html -->
            <td th:style="${dayNames[stat.index]} == ${todayDateDayName} ? 'background-color: lightyellow;' : 'background-color: WhiteSmoke;'">
                <div style="display: flex; justify-content: center; align-items: center; position: relative;">
                    <span th:if="${dayNames[stat.index]} == ${todayDateDayName}" style="position: absolute; left: 5px;">←</span>
                    <span style="margin: 0 auto;" th:text="${dayNames[stat.index]}"></span>
                </div>
            </td>



        </tr>
        </tbody>

        <tfoot>
        <tr>
            <th style="font-size:0.7em;font-weight:normal;color:darkgray;background-color:WhiteSmoke;">Day</th>
            <th:block th:each="columnDate : ${bottom1ColumnDates}">
                <th th:text="${columnDate}" style="font-size:0.7em;font-weight:normal;color:gray;background-color:WhiteSmoke;"></th>
            </th:block>
            <th style="font-size:0.7em;font-weight:normal;color:darkgray;background-color:WhiteSmoke;">Day</th>
        </tr>
        <tr>
            <th style="font-size:0.7em;font-weight:normal;color:darkgray;background-color:WhiteSmoke;">Month</th>
            <th:block th:each="columnDate : ${bottom2ColumnDates}">
                <th th:text="${columnDate}" style="font-size:0.7em;font-weight:normal;color:darkgray;background-color:WhiteSmoke;"></th>
            </th:block>
            <th style="font-size:0.7em;font-weight:normal;color:darkgray;background-color:WhiteSmoke;">Month</th>
        </tr>
        <tr>
            <th style="font-size:0.7em;font-weight:normal;color:darkgray;background-color:WhiteSmoke;">Year</th>
            <th:block th:each="columnDate : ${bottom3ColumnDates}">
                <th th:text="${columnDate}" style="font-size:0.7em;font-weight:normal;color:darkgray;background-color:WhiteSmoke;"></th>
            </th:block>
            <th style="font-size:0.7em;font-weight:normal;color:darkgray;background-color:WhiteSmoke;">Year</th>
        </tr>
        </tfoot>


    </table>






    <div class="row">

            <!-- colon sayisini 12 ye tamamlamak icin bu span-->


        <!--
        <span class="col-2" style="background-color:White;">
                <div style="text-align:center;">
                <img th:src="@{${topic.imageFileName != null} ? ${topic.imageFileName} : '/images/default.png'}"
                     alt="Topic Image"
                     style="max-width:135px;max-height:135px;margin-top:10px;" />
                </div>
                <p th:text="${#strings.abbreviate(topic.description,200)}">Topic description
                    </p>
        </span>
        -->

        <span class="col-2 p-2" style="display:inline-block;">
            <div class="card h-100 shadow-sm border-0" style="overflow:hidden;">
                <div class="text-center p-2 bg-light">
                    <img th:src="@{${topic.imageFileName != null} ? ${topic.imageFileName} : '/images/default.png'}"
                         alt="Topic Image"
                         class="img-fluid rounded"
                         style="max-height:135px; object-fit:cover;" />
                </div>
                <div class="card-body p-2" style="font-size:0.9rem;">
                    <p class="card-text text-secondary mb-0" th:text="${#strings.abbreviate(topic.description,200)}">Topic description</p>
                </div>
            </div>
        </span>





        <span class="col-2" style="background-color:MintCream;">

                <table class="table table-sm table-border" style="margin:auto;">
                    <tr>
                        <td title="Since today is included in the number of days before today, it is stated separately as + 1.">
                            Total Days
                        </td>
                        <td th:text="${totalDays} + ' + 1' ">

                        </td>
                    </tr>
                    <tr>
                        <td title="The date the time period begins. Calculations begin on this date.">
                            Begin date
                        </td>

                        <td th:text="${T(java.time.format.DateTimeFormatter)
                                                .ofPattern('yyyy-MM-dd')
                                                .format(beginDate.atStartOfDay(zoneId))}"
                            >
                        </td>
                    </tr>
                    <tr>
                        <td title="If there is, the date of the first, i.e. the oldest, 'done' entry here, after the calculation start date.">
                            Oldest done date
                        </td>
                        <td th:text="${oldestDoneDate}">

                        </td>
                    </tr>
                    <tr>
                        <td title="If set, some calculations start from the 'base date' instead of the 'oldest done date'.">
                            Base date
                        </td>

                        <td>
                            <span id="baseDatePlaceHolder"
                                  th:if="${topic.baseDate != null or !#strings.isEmpty(topic.baseDate)}"
                                  th:text="${T(java.time.format.DateTimeFormatter)
                                                  .ofPattern('yyyy-MM-dd')
                                                  .format(topic.baseDate.atStartOfDay(zoneId))}"
                            >
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td title="If set, some calculations will end on the 'end date' instead of the 'finish date'.">
                            End date
                        </td>
                        <td>
                            <span id="endDatePlaceHolder"
                                  th:if="${topic.endDate != null or !#strings.isEmpty(topic.endDate)}"
                                  th:text="${T(java.time.format.DateTimeFormatter)
                                                  .ofPattern('yyyy-MM-dd')
                                                  .format(topic.endDate.atStartOfDay(zoneId))}">
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td title="Today's date">
                            Today's date
                        </td>
                        <td th:text="${today}">

                        </td>
                    </tr>
                    <tr>
                        <td title="The date of the last 'done' entry, if available.">
                            Newest done date
                        </td>
                        <td th:text="${topic.lastPastEntryDate}">

                        </td>
                    </tr>
                    <tr>
                        <td title="The date on which the time period ends. Calculations end on this date.">
                            Finish date
                        </td>
                        <td th:text="${finishDate}">

                        </td>
                    </tr>
                </table>


            <!-- filter-form'da pivot tabledaki kodlar, prediction, warn, done, not marked tarihlerini gösterir. -->
                <table class="table table-sm" style="margin-top:10px;">
                    <caption style="color:DarkGray !important;text-align:center;">
                        (This table is not limited to 365 days).<br/>

                        <th:block th:if="${topic.someTimeLater != null && topic.someTimeLater > 0}">
                            Prediction is set to every <span th:text="${topic.someTimeLater}"
                                                             class="status-3" style="text-align: center; font-size:2em;">
                            </span> days<br/>
                        </th:block>

                        <th:block th:if="${topic.someTimeLater == null || topic.someTimeLater == 0}">
                            Prediction is not set.

                        </th:block>

                    </caption>
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Days</th>
                    </tr>

                    </thead>
                    <tbody>


                    <!-- firstWarningEntryDate varsa -->
                    <tr th:if="${topic.firstWarningEntryDate != null or !#strings.isEmpty(topic.firstWarningEntryDate)}">



                        <td th:text="${T(java.time.format.DateTimeFormatter)
                                                .ofPattern('yyyy-MM-dd')
                                                .format(topic.firstWarningEntryDate.atStartOfDay(zoneId))}"

                            class="status-2" style="text-align: center">
                        </td>

                        <td>First Warn</td>

                        <td th:title="${'First Warn: '
                                                + T(java.time.format.DateTimeFormatter)
                                                .ofPattern('yyyy-MM-dd')
                                                .format(topic.firstWarningEntryDate.atStartOfDay(zoneId))
                                                + ' ('
                                                +  T(java.time.temporal.ChronoUnit)
                                    .DAYS.between( T(java.time.LocalDate).now(zoneId), topic.firstWarningEntryDate )
                                                + ' days)' }"
                            class="first-warn"
                            style="text-align: center">

                            <!-- how many days has past until today -->
                            <span th:text="${T(java.time.temporal.ChronoUnit)
                                    .DAYS.between( T(java.time.LocalDate).now(zoneId), topic.firstWarningEntryDate ) }">
                            </span>
                        </td>


                    </tr>


                    <!-- firsFutureNeutralEntryDate varsa -->
                    <tr th:if="${topic.firstFutureNeutralEntryDate != null or !#strings.isEmpty(topic.firstFutureNeutralEntryDate)}">



                        <td th:text="${T(java.time.format.DateTimeFormatter)
                                                .ofPattern('yyyy-MM-dd')
                                                .format(topic.firstFutureNeutralEntryDate.atStartOfDay(zoneId))}"

                            class="status-0" style="text-align: center">
                        </td>

                        <td title="upcoming note only appears if it is between today and the future.">Upcoming Note</td>

                        <td th:title="${'Upcoming in: '
                                                + T(java.time.format.DateTimeFormatter)
                                                .ofPattern('yyyy-MM-dd')
                                                .format(topic.firstFutureNeutralEntryDate.atStartOfDay(zoneId))
                                                + ' ('
                                                +  T(java.time.temporal.ChronoUnit)
                                    .DAYS.between( T(java.time.LocalDate).now(zoneId), topic.firstFutureNeutralEntryDate )
                                                + ' days)' }"
                            class="upcoming-note"
                            style="text-align: center">

                            <!-- how many days has past until today -->
                            <span th:text="${T(java.time.temporal.ChronoUnit)
                                    .DAYS.between( T(java.time.LocalDate).now(zoneId), topic.firstFutureNeutralEntryDate ) }">
                            </span>
                        </td>


                    </tr>

                    <!-- predictionDate varsa -->
                    <tr th:if="${topic.predictionDate != null or !#strings.isEmpty(topic.predictionDate)}">

                        <td id="predictionDatePlaceHolder"
                            th:text="${T(java.time.format.DateTimeFormatter)
                                            .ofPattern('yyyy-MM-dd')
                                            .format(topic.predictionDate.atStartOfDay(zoneId))}"

                            class="status-3" style="text-align: center">
                        </td>

                        <td>Prediction</td>

                        <td
                                class="status-3" style="text-align: center">
                            <!-- how many days has past until today -->
                            <span th:text="${T(java.time.temporal.ChronoUnit)
                                    .DAYS.between( T(java.time.LocalDate).now(zoneId), topic.predictionDate ) }">
                            </span>
                        </td>



                    </tr>

                    <!-- lastPastEntryDate varsa -->
                    <tr th:if="${topic.lastPastEntryDate != null or !#strings.isEmpty(topic.lastPastEntryDate)}">


                        <td th:text="${T(java.time.format.DateTimeFormatter)
                                                .ofPattern('yyyy-MM-dd')
                                                .format(topic.lastPastEntryDate.atStartOfDay(zoneId))}"

                            class="status-1" style="text-align: center">
                        </td>

                        <td>Last Done</td>

                        <td th:title="${'Last done: '
                                                + T(java.time.format.DateTimeFormatter)
                                                .ofPattern('yyyy-MM-dd')
                                                .format(topic.lastPastEntryDate.atStartOfDay(zoneId))
                                                + ' ('
                                                +  T(java.time.temporal.ChronoUnit)
                                    .DAYS.between(topic.lastPastEntryDate, T(java.time.LocalDate).now(zoneId))
                                                + ' days before)' }"
                            class="last-done"
                            style="text-align: center">

                            <!-- how many days has past until today -->
                            <span th:text="${T(java.time.temporal.ChronoUnit)
                                    .DAYS.between(T(java.time.LocalDate).now(zoneId), topic.lastPastEntryDate)}">
                            </span>
                        </td>


                    </tr>
                    </tbody>

                </table>





        </span>









        <span class="col-2" style="background-color:FloralWhite;">

                <!-- chart -->
                <div style="max-width:200px;max-height:200px;margin-left:auto;margin-right:auto;">
                    <canvas id="status1Chart" ></canvas>
                </div>

            <!-- some statistics -->
                <table style="border:1px;border-collapse: collapse;margin-left:auto;margin-right:auto;">
                    <caption style="text-align:center;color:DarkGray !important;">
                        Entry statuses for the given [[${streakTotalDays}]]-day date range.
                    </caption>
                    <thead>
                    <tr>
                        <th>Weekday</th>
                        <th>Note</th>
                        <th>Done</th>
                        <th>Warn</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="i : ${#numbers.sequence(0, 6)}">




                        <td th:style="${dayNames[i]} == ${todayDateDayName} ? 'background-color: lightyellow;' : ''">

                            <span style="margin: 0 auto;" th:text="${dayNames[i]}"></span>

                        </td>

                        <td th:text="${status0[i]}"></td>
                        <td th:text="${status1[i]}"></td>
                        <td th:text="${status2[i]}"></td>
                    </tr>
                    <tr>
                        <td><b>Total</b></td>
                        <td th:text="${totalStatus0}" class="status-0" style="font-weight:bold;"></td>
                        <td th:text="${totalStatus1}" class="status-1" style="font-weight:bold;"></td>
                        <td th:text="${totalStatus2}" class="status-2" style="font-weight:bold;"></td>


                    </tr>
                    </tbody>
                </table>

            </span>



        <!-- Parser class bolumu -->
        <span class="col-2" style="background-color:WhiteSmoke;padding:1px;">

                <div style="width: 99%; max-width: 400px; margin: 0 auto;background-color:FloralWhite;"
                     th:if="${topic.dataClassName == 'MeasurementParser'}">
                  <canvas id="measurementChart"></canvas>
                </div>

                <p th:if="${parserReport != null}" th:utext="${parserReport}">

                </p>
                <p th:if="${parserReport == null}" style="color:gray;">
                    This field will appear blank if a parser is not selected in the topic settings.
                </p>

        </span>

        <!-- Streaks Bolumu -->
        <span class="col-2" style="background-color:FloralWhite;">


                <span style="text-align:center;color:DarkGray !important;">
                    Streak statistics for the given [[${streakTotalDays}]]-day date range.</span>


            <!-- newsest streak (closest to today) chart -->
                <th:block th:if="${newestStreak != null}">
                    <!-- newest streak chart -->
                    <table style="width: 100%">
                        <caption style="text-align:center;color:DarkGray !important;">
                            Newest Streak
                        </caption>
                        <tbody>



                          <tr style="height: 30px;">
                                <!-- Start Date -->
                               <td style="width: 100px; text-align: right; padding-right: 2px;">
                                    <small th:text="${T(java.time.format.DateTimeFormatter)
                                                        .ofPattern('yy-MM-dd')
                                                        .format(newestStreak.startDate.atStartOfDay(zoneId))}"></small>
                                </td>

                                      <!-- Bar with Count -->
                                <td style="width: 100%; text-align: center; background-color:WhiteSmoke;">
                                    <div
                                            th:style="'background-color: #e35b93 !important; height: 20px; color: white !important;
                                     text-align: center !important; font-weight: bold; margin:auto;
                                     width:' + ${newestStreak.width} + 'px;'"
                                            th:text="${newestStreak.streakLength}"
                                            ></div>
                                </td>

                                      <!-- End Date -->
                               <td style="width: 100px; text-align: left; padding-left: 2px;">
                                    <small th:text="${T(java.time.format.DateTimeFormatter)
                                                        .ofPattern('MM-dd')
                                                        .format(newestStreak.endDate.atStartOfDay(zoneId))}"></small>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </th:block>


            <!-- top streaks chart -->
                <table style="width: 100%">
                    <caption style="text-align:center;color:DarkGray !important;">
                        Top Streaks (closest unique one)
                    </caption>
                    <tbody>



                    <tr th:each="streak, iStats : ${uniqueTopStreaks}" style="height: 30px;">
                        <!-- Start Date -->
                        <td style="width: 100px; text-align: right; padding-right: 2px;">
                            <small th:text="${T(java.time.format.DateTimeFormatter)
                                                .ofPattern('yy-MM-dd')
                                                .format(streak.startDate.atStartOfDay(zoneId))}"></small>
                        </td>

                        <!-- Bar with Count -->
                        <td style="width: 100%; text-align: center; background-color:WhiteSmoke;">
                            <div
                                    th:style="'background-color: #e35b93 !important; height: 20px; color: white !important;
                             text-align: center !important; font-weight: bold; margin:auto;
                             width:' + ${streak.width} + 'px;'"
                                    th:text="${streak.streakLength}"
                                    th:title="${'There are ' + streakCounters[iStats.index] + ' more with different date ranges.'}"></div>
                        </td>

                        <!-- End Date -->
                        <td style="width: 100px; text-align: left; padding-left: 2px;">
                            <small th:text="${T(java.time.format.DateTimeFormatter)
                                                .ofPattern('MM-dd')
                                                .format(streak.endDate.atStartOfDay(zoneId))}"></small>

                        </td>
                    </tr>
                    </tbody>
                </table>

                <br />



            <!-- trend intervals chart ikinci varyasyon-->
            <!-- <canvas  th:if="${topic.someTimeLater != null && topic.someTimeLater > 0}"
                     id="intervalChart2" width="150" height="75"></canvas>
            -->





            </span>



        <!-- Success Rate bolumu -->
        <span class="col-2">




                <th:block th:if="${topic.someTimeLater != null && topic.someTimeLater > 0}">
                <h3 th:if="${patternSuccessRate != null}"
                    th:text="${'Ratio: ' + T(java.lang.Math).round(patternSuccessRate * 100) + ' %'}"
                    title="It is the percentage ratio of those with and without at least one 'done entry' in each
                    section, after dividing the days between the first 'done entry' date and 'todays date' by the
                    'prediction date'.">
                </h3>
                <span th:if="${patternSuccessRate != null}"
                      th:utext="${patternSuccessText}"
                ></span>
                </th:block>
                <!-- disable patternFillText until doing it correct. TODO
                <h3 th:if="${patternSuccessRate != null}"
                    th:text="${'Fill Rate: ' + T(java.lang.Math).round(patternSuccessRate * 100) + ' %'}"
                    title="It is the occupancy rate of the days in the date range from the first 'done' entry to today.">
                </h3>
                <span th:if="${patternSuccessRate != null}"
                      th:utext="${patternFillText}"
                ></span>
                -->



                <div th:utext="${topic.intervalRuleInfo}"></div>


                <button class="btn btn-outline-info btn-sm" onclick="showPatternHelp()">?</button>

                <button class="btn btn-outline-secondary btn-sm" onclick="showPatternDebug()">Show Pattern Debug</button>

                            <!-- Değişkeni saklayan gizli alan -->
                <div id="patternDebugData" th:data-pattern="${patternDebugResult}" style="display: none;"></div>


            </span>



    </div>





    <div id="custom-tooltip-popup" style="display: none; position: fixed; top: 40%; left: 50%; transform: translate(-50%, -50%);
    background-color: white; border: 2px solid gray; padding: 20px 30px; z-index: 9999; box-shadow: 0 4px 12px rgba(0,0,0,0.3); border-radius: 10px;">
        <h2 id="custom-tooltip-text" style="margin: 0; font-size: 1.5rem;"></h2>
    </div>

    <!-- sayfanın en altına yakın bir yere ekleyin -->
    <div class="modal fade" id="noteModal2" tabindex="-1" aria-labelledby="noteModal2Label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="noteModal2Label">Note Detail</h5>
                    &nbsp;
                    <button type="button" class="btn btn-outline-secondary btn-sm" id="copyNoteBtn2">Copy</button>
                </div>
                <div class="modal-body" style="white-space: pre-line;height: 600px;overflow-y:scroll;">
                    <!-- HTMX ile buraya tam içerik gelecek, pre-line sayesinde satirlar yanyana degil altalta gorunuyor -->
                </div>
            </div>
        </div>
    </div>


    <!-- trend intervals chart ikinci varyasyon -->
    <!--
    <script th:inline="javascript" th:if="${topic.someTimeLater != null && topic.someTimeLater > 0}">
        /*<![CDATA[*/
            var intervals3 = [[${intervals}]];
            var labels3 = intervals3.map(function(_, idx) {
                return "T-" + (intervals3.length - 1 - idx);
            });

            var target3 = [[${topic.someTimeLater}]];

            // Her noktaya özel renk: 4–6 gün arası yeşil, diğerleri kırmızı
            var pointColors3 = intervals3.map(function(val) {
                return (val >= 4 && val <= 6) ? 'green' : 'red';
            });

            var ctx3 = document.getElementById('intervalChart2').getContext('2d');

            var chart3 = new Chart(ctx3, {
                type: 'line',
                data: {
                    labels: labels3,
                    datasets: [
                        {
                            label: 'Aralık (Gün)',
                            data: intervals3,
                            borderColor: 'blue',
                            backgroundColor: 'rgba(0, 0, 255, 0.1)',
                            tension: 0.3,
                            pointRadius: 5,
                            pointBackgroundColor: pointColors3,
                            pointBorderColor: pointColors3
                        },
                        {
                            label: 'Hedef Gün ([[${topic.someTimeLater}]])',
                            data: Array(intervals3.length).fill(target3),
                            borderColor: 'green',
                            borderDash: [5, 5],
                            borderWidth: 1,
                            pointRadius: 0
                        }
                    ]
                },
                options: {
                    responsive: true,
                    plugins: {
                        title: {
                            display: true,
                            text: 'Alışkanlık Günlük Aralık Grafiği (Renkli Noktalar)'
                        },
                        legend: {
                            position: 'top'
                        }
                    },
                    scales: {
                        y: {
                            beginAtZero: true,
                            title: {
                                display: true,
                                text: 'Gün Aralığı'
                            }
                        },
                        x: {
                            title: {
                                display: true,
                                text: 'Zaman (Geriye Doğru)'
                            }
                        }
                    }
                }
            });
        /*]]>*/
    </script>
    -->




    <script>
        document.body.addEventListener('htmx:afterSwap', function () {
            if (window.blinkIntervalStarted) return;
            window.blinkIntervalStarted = true;

            setInterval(function () {
                document.querySelectorAll("span[id^='baseDatePlaceHolder']").forEach(function (span) {
                    const baseDate = span.textContent.trim();
                    if (!baseDate) return;

                    const tdBase = document.querySelector(`td[data-ymd='${baseDate}']`);
                    if (!tdBase) return;


                    const highlightGradient = 'radial-gradient(circle, ForestGreen 30%, rgba(255, 255, 255, 1) 100%)';
                    toggleBlinkMarker(tdBase, highlightGradient);
                });

                document.querySelectorAll("span[id^='endDatePlaceHolder']").forEach(function (span) {
                    const endDate = span.textContent.trim();
                    if (!endDate) return;

                    const tdEnd = document.querySelector(`td[data-ymd='${endDate}']`);
                    if (!tdEnd) return;

                    const highlightGradient = 'radial-gradient(circle, purple 30%, rgba(255, 255, 255, 1) 100%)';
                    toggleBlinkMarker(tdEnd, highlightGradient);
                });


                // EXTRA: span#baseDatePlaceHolder
                const baseSpan = document.getElementById("baseDatePlaceHolder");
                if (baseSpan) {
                    const highlightGradient = 'radial-gradient(circle, ForestGreen 30%, rgba(255, 255, 255, 1) 100%)';
                    toggleBlinkMarker(baseSpan, highlightGradient);
                }

                // EXTRA: span#endDatePlaceHolder
                const endSpan = document.getElementById("endDatePlaceHolder");
                if (endSpan) {
                    const highlightGradient = 'radial-gradient(circle, purple 30%, rgba(255, 255, 255, 1) 100%)';
                    toggleBlinkMarker(endSpan, highlightGradient);
                }


            }, 750);


            setInterval(function () {

                // PREDICTION DATE BLINK
                document.querySelectorAll("td[id^='predictionDatePlaceHolder']").forEach(function (td) {
                    const predictionDate = td.textContent.trim();
                    if (!predictionDate) return;

                    const tdPrediction = document.querySelector(`td[data-ymd='${predictionDate}']`);
                    if (!tdPrediction) return;

                    const highlightGradient = 'radial-gradient(circle, LightBlue 30%, rgba(255, 255, 255, 1) 100%)';
                    toggleBlinkMarker(tdPrediction, highlightGradient);
                });

            }, 1500);


        });


        // Meger elementin icinde(yani inline) olmayan CSS kodlarini getComputedStyle ile elde etmemiz gerekiyormus. Yoksa bos geliyor.
        function toggleBlinkMarker(td, highlightGradient) {
            if (td.dataset.originalGradient === undefined) {
                const computedBg = getComputedStyle(td).background;
                td.dataset.originalGradient = computedBg;
                td.dataset.blinkState = 'off';
            }

            if (td.dataset.blinkState === 'off') {
                td.dataset.blinkState = 'on';
                td.style.background = highlightGradient;
                td.style.color = 'white';
            } else {
                td.dataset.blinkState = 'off';
                td.style.background = td.dataset.originalGradient;
                td.style.color = 'black';
            }
        }


    </script>






    <!-- streak chart -->
    <script>
        (() => {
            const existingChart = Chart.getChart("streakChart");
            if (existingChart) {
                existingChart.destroy();
            }

            const labels = /*[[${labelsJson}]]*/ [];
            const dataValues = /*[[${dataJson}]]*/ [];

            const data = {
                labels: labels,
                datasets: [{
                    label: 'Gün Sayısı',
                    data: dataValues,
                    backgroundColor: 'rgba(33, 99, 132, 0.6)',
                    borderColor: 'rgba(33, 99, 132, 1)',
                    borderWidth: 1,
                    barThickness: 20
                }]
            };

            const config = {
                type: 'bar',
                data: data,
                options: {
                    indexAxis: 'y',
                    responsive: true,
                    plugins: {
                        legend: { display: false },
                        tooltip: {
                            callbacks: {
                                label: ctx => ` ${ctx.raw} gün`
                            }
                        }
                    },
                    scales: {
                        x: { beginAtZero: false }
                    }
                }
            };

            new Chart(
                document.getElementById('streakChart'),
                config
            );
        })();
    </script>


    <script th:inline="javascript">
        /*<![CDATA[*/
        var status1Counts = [[${status1}]];
        var labels = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];

        new Chart(document.getElementById('status1Chart'), {
            type: 'pie',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Status 1 Entries',
                    data: status1Counts,
                    backgroundColor: [
                        '#FF6384', '#36A2EB', '#FFCE56', '#4BC0C0',
                        '#9966FF', '#FF9F40', '#66BB6A'
                    ]
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Distribution of entries marked as "Done" by day of the week'
                    }
                }
            }
        });
        /*]]>*/
    </script>




    <script th:inline="javascript" th:if="${topic.dataClassName == 'MeasurementParser'}">
        /*<![CDATA[*/

        var parsed = JSON.parse(/*[[${parsedDataAsJSON}]]*/ "null");


       // console.log("Parsed JSON:", parsed);



            var parserLabels = parsed.data.map(item => item.date);
            var parserDataValues = parsed.data.map(item => item.value);

            var minValue = Math.min(...parserDataValues);
            var maxValue = Math.max(...parserDataValues);

            // Küçük bir buffer payı ekleyelim ki çizgi grafik taşmasın:
            var yMin = Math.floor(minValue - (maxValue - minValue) * 0.2);
            var yMax = Math.ceil(maxValue + (maxValue - minValue) * 0.2);


            var parserCtx = document.getElementById('measurementChart').getContext('2d');
            var myChart = new Chart(parserCtx, {
                type: 'line',
                data: {
                    labels: parserLabels,
                    datasets: [{
                        label: parsed.parser + ' (' + parsed.unit + ')',
                        data: parserDataValues,
                        fill: false,
                        borderColor: 'rgb(35, 92, 92)',
                        backgroundColor: 'rgba(35, 92, 92, 0.2)',
                        tension: 0.3,
                        borderWidth: 1,
                        pointRadius: 0.5
                    }]
                },
                options: {
                    responsive: true,
                    scales: {
                        x: {
                            type: 'time',
                            title: {
                                display: false,
                                text: 'Date'
                            },
                            time: {  // ✅ Bu kritik!
                                unit: 'day', // veya 'month', 'week' ihtiyacına göre
                                tooltipFormat: 'yyyy-MM-dd',
                                displayFormats: {
                                    day: 'yyyy-MM-dd'
                                }
                            },
                            ticks: {
                                maxRotation: 90, // maksimum döndürme derecesi
                                minRotation: 90, // minimum döndürme derecesi
                            }
                        },
                        y: {
                            min: yMin,
                            max: yMax,
                            title: {
                                display: true,
                                text: parsed.unit
                            },
                            beginAtZero: true
                        }
                    },
                    plugins: {
                        title: {
                            display: false,
                            text: 'Measurement Over Time'
                        },
                        tooltip: {
                            callbacks: {
                                label: function(context) {
                                    return context.parsed.y + ' ' + parsed.unit;
                                }
                            }
                        },
                        legend: {
                            display: false
                        },
                        annotation: {
                            annotations: {
                                averageLine: {
                                    type: 'line',
                                    yMin: parsed.average,
                                    yMax: parsed.average,
                                    borderColor: 'blue',
                                    borderWidth: 1,
                                    borderDash: [6, 6] // kesikli cizgi

                                }
                            }

                        }
                    }
                }
            });




/*]]>*/

    </script>



    <script>
        var tooltipTimeout;

        function showCustomTooltip(element) {
          const popup = document.getElementById('custom-tooltip-popup');
          const popupText = document.getElementById('custom-tooltip-text');
          const titleText = element.getAttribute('title');

          if (!titleText) return;

          popupText.textContent = titleText;
          popup.style.display = 'block';

          tooltipTimeout = setTimeout(() => {
            popup.style.display = 'none';
          }, 5000);
        }

        function hideCustomTooltip() {
          const popup = document.getElementById('custom-tooltip-popup');
          popup.style.display = 'none';
          clearTimeout(tooltipTimeout);
        }
    </script>

    <script>
        // HTMX olayı: içerik yüklendikten hemen sonra
        document.body.addEventListener('htmx:afterSwap', function(evt) {
          // Eğer swap hedefi modal-body içindeyse
          if (evt.detail.target.closest('#noteModal2 .modal-body')) {
            // Bootstrap modal’ı göster
            var modalEl = document.getElementById('noteModal2');
            var modal = new bootstrap.Modal(modalEl);
            modal.show();

            // Copy butonunu bağla
            document.getElementById('copyNoteBtn2').onclick = function() {
              var text = modalEl.querySelector('.modal-body').innerText;
              navigator.clipboard.writeText(text)
                .then(() => {/* dilerseniz kullanıcıya bildirim gösterin */});
            };
          }
        });
    </script>

    <script>
        function showPatternHelp() {
            const htmlContent = `
            <table class="table table-sm table-bordered">
                <thead>
                    <tr><th>Character</th><th>Description</th></tr>
                </thead>
                <tbody>
                    <tr><td>1</td><td>Exact match for ONE</td></tr>
                    <tr><td>0</td><td>Exact match for ZERO</td></tr>
                    <tr><td>?</td><td>Either 0 or 1 is allowed</td></tr>
                    <tr><td>*</td><td>At least one must be ONE</td></tr>
                    <tr><td>&amp;</td><td>At least one must be ZERO</td></tr>
                    <tr><td>%</td><td>Exactly one must be ONE</td></tr>
                    <tr><td>#</td><td>Exactly one must be ZERO</td></tr>
                    <tr><td>+</td><td>All must be either all ONEs or all ZEROs</td></tr>
                    <tr><td>$</td><td>Exactly two must be ONE</td></tr>
                    <tr><td>@</td><td>Exactly two must be ZERO</td></tr>
                    <tr><td>^</td><td>All must be ONE</td></tr>
                    <tr><td>|</td><td>All must be ZERO</td></tr>
                </tbody>
            </table>
            `;

            const modalBody = document.querySelector('#noteModal2 .modal-body');
            const modalTitle = document.getElementById('noteModal2Label');
            if (modalBody && modalTitle) {
                modalBody.innerHTML = htmlContent;
                modalTitle.textContent = 'Pattern Help';
                new bootstrap.Modal(document.getElementById('noteModal2')).show();
            }
        }
    </script>


    <script>
        function showPatternDebug() {
            const patternData = document.getElementById('patternDebugData').dataset.pattern;

            const modalBody = document.querySelector('#noteModal2 .modal-body');
            const modalTitle = document.getElementById('noteModal2Label');
            if (modalBody && modalTitle) {
                //modalBody.textContent = patternData; // pre-line sayesinde satırları korur
                modalBody.innerHTML = patternData; // örneğin renklendirilmiş HTML varsa

                modalTitle.textContent = 'Pattern Debug Info';
                new bootstrap.Modal(document.getElementById('noteModal2')).show();
            }
        }
    </script>


</div>

