<!--
This file is part of the DailyTopicTracker project.
Please refer to the project's README.md file for additional details.
https://github.com/turkerozturk/springtopiccalendar
-->

<div xmlns:th="http://www.thymeleaf.org" th:remove="tag">


    <table class="table-bordered">

        <caption style="background-color:black;">
            <h4 th:text="${topic.name}" style="font-weight:bold;color:white;text-align:right;margin-right:130px;"></h4>
        </caption>

        <thead>
        <tr>
            <th style="font-size:0.7em;font-weight:normal;color:darkgray;background-color:WhiteSmoke;">Y</th>
            <th:block th:each="columnDate : ${top1ColumnDates}">
                <th th:text="${columnDate}" style="font-size:0.7em;font-weight:normal;color:darkgray;background-color:WhiteSmoke;"></th>
            </th:block>
            <th style="font-size:0.7em;font-weight:normal;color:darkgray;background-color:WhiteSmoke;">Y</th>
        </tr>
        <tr>
            <th style="font-size:0.7em;font-weight:normal;color:darkgray;background-color:WhiteSmoke;">M</th>
            <th:block th:each="columnDate : ${top2ColumnDates}">
                <th th:text="${columnDate}" style="font-size:0.7em;font-weight:normal;color:darkgray;background-color:WhiteSmoke;"></th>
            </th:block>
            <th style="font-size:0.7em;font-weight:normal;color:darkgray;background-color:WhiteSmoke;">M</th>
        </tr>
        <tr>
            <th style="font-size:0.7em;font-weight:normal;color:darkgray;background-color:WhiteSmoke;">D</th>
            <th:block th:each="columnDate : ${top3ColumnDates}">
                <th th:text="${columnDate}" style="font-size:0.7em;font-weight:normal;color:gray;background-color:WhiteSmoke;"></th>
            </th:block>
            <th style="font-size:0.7em;font-weight:normal;color:darkgray;background-color:WhiteSmoke;">D</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="dayMap, stat : ${weeklyMaps}">
            <td th:text="${dayNames[stat.index]}" style="background-color:WhiteSmoke;"> </td>


            <th:block th:each="entry : ${dayMap}">


                <th:block th:if="${entry.value != null }">
                    <th:block th:if="${entry.value.status != -1 }">
                        <td th:text="${entry.value.status}" th:title="${entry.key} + ' ' + ${entry.value.id}" th:class="'weekly-table-entry-cell status-' + ${entry.value.status}" >
                            @
                        </td>
                    </th:block>


                    <!-- visualising disabled cells, no data, outside of date range -->
                    <th:block th:if="${entry.value.status == -1 }">
                        <td th:text="''" th:title="${entry.value.dateMillisYmd}"
                            style="background-color:WhiteSmoke;"
                            >
                            X
                        </td>
                    </th:block>

                </th:block>

                <!-- 2a) Eğer hiç entry yoksa 'New Entry' linki göster -->
                <th:block th:if="${entry.value == null }">
                    <td class="weekly-table-entry-cell"  th:title="${entry.key}">
                        &nbsp;
                    </td>
                </th:block>





            </th:block>


            <td th:text="${dayNames[stat.index]}"
                th:style="${todayWeekIndex == stat.index} ? 'background-color: lightyellow;' : 'background-color:WhiteSmoke;'">
            </td>






        </tr>
        </tbody>

        <tfoot>
        <tr>
            <th style="font-size:0.7em;font-weight:normal;color:darkgray;background-color:WhiteSmoke;">D</th>
            <th:block th:each="columnDate : ${bottom1ColumnDates}">
                <th th:text="${columnDate}" style="font-size:0.7em;font-weight:normal;color:gray;background-color:WhiteSmoke;"></th>
            </th:block>
            <th style="font-size:0.7em;font-weight:normal;color:darkgray;background-color:WhiteSmoke;">D</th>
        </tr>
        <tr>
            <th style="font-size:0.7em;font-weight:normal;color:darkgray;background-color:WhiteSmoke;">M</th>
            <th:block th:each="columnDate : ${bottom2ColumnDates}">
                <th th:text="${columnDate}" style="font-size:0.7em;font-weight:normal;color:darkgray;background-color:WhiteSmoke;"></th>
            </th:block>
            <th style="font-size:0.7em;font-weight:normal;color:darkgray;background-color:WhiteSmoke;">M</th>
        </tr>
        <tr>
            <th style="font-size:0.7em;font-weight:normal;color:darkgray;background-color:WhiteSmoke;">Y</th>
            <th:block th:each="columnDate : ${bottom3ColumnDates}">
                <th th:text="${columnDate}" style="font-size:0.7em;font-weight:normal;color:darkgray;background-color:WhiteSmoke;"></th>
            </th:block>
            <th style="font-size:0.7em;font-weight:normal;color:darkgray;background-color:WhiteSmoke;">Y</th>
        </tr>
        </tfoot>


    </table>






    <div class="row">

            <span class="col-2">
                <!-- colon sayisini 12 ye tamamlamak icin bu span-->
            </span>

            <span class="col-2">
                <!--
                <span th:if="${daysSinceFirstDoneEntry != null}"
                      th:text="${'Days since first done: ' + daysSinceFirstDoneEntry}">
                </span>
                <br/>
                <span th:if="${daysSinceFirstDoneEntryToPrediction != null}"
                      th:text="${'Days since first done to prediction: ' + daysSinceFirstDoneEntryToPrediction}">
                </span>
                <br/>
                -->

                <!--
                <span th:if="${numberOfDaysToBeConsidered != null}"
                      th:text="${'Number of days to be considered: ' + numberOfDaysToBeConsidered}">
                </span>
                -->

                <br/>

                <!--
                <br/>
                <span th:if="${doneDayCount != null}"
                      th:text="${'Number of done days: ' + doneDayCount}">
                </span>
                <br/>
                <span th:if="${emptyDayCount != null}"
                      th:text="${'Number of empty days: ' + emptyDayCount}">
                </span>
                <br/>
                <span th:if="${averageDoneInterval != null}"
                      th:text="${'Average done interval: ' + #numbers.formatDecimal(averageDoneInterval, 1, 1)}">
                </span>
                <br/>
                <h3 th:if="${successRate != null}"
                      th:text="${'Success Rate: ' + #numbers.formatDecimal(successRate, 1, 1)}">
                </h3>
                <br/>

                <span th:if="${realAverage != null}"
                      th:text="${'Real Average done interval: ' + #numbers.formatDecimal(realAverage, 1, 1)}">
                </span>
                <br/>
                <h3 th:if="${realSuccessRate != null}"
                    th:text="${'Real Success Rate: ' + #numbers.formatDecimal(realSuccessRate, 1, 1)}">
                </h3>
                <br/>
                -->
                <br/>
                <!-- TREND related variables -->
                <!--
                <span th:if="${intervals != null}"
                      th:text="${'intervals: ' + intervals}">
                </span>
                -->
                <br/>

                <!--
                <span th:if="${mean != null}"
                      th:text="${'mean: ' + #numbers.formatDecimal(mean, 1, 1)}">
                </span>
                <br/>
                <span th:if="${std != null}"
                      th:text="${'std: ' + #numbers.formatDecimal(std, 1, 1)}">
                </span>
                <br/>
                <span th:if="${successRate2 != null}"
                      th:text="${'successRate2: ' + #numbers.formatDecimal(successRate2, 1, 1)}">
                </span>
                <br/>
                <span th:if="${trendSlope != null}"
                      th:text="${'trendSlope: ' + #numbers.formatDecimal(trendSlope, 1, 1)}">
                </span>
                <br/>
                <span th:if="${trendStatus != null}"
                      th:text="${'trendStatus: ' + trendStatus}">
                </span>
                <br/>
                -->

                <div class="mt-3">
                    <!-- lastPastEntryDate varsa -->
                    <th:block th:if="${topic.baseDate != null or !#strings.isEmpty(topic.baseDate)}">
                        <td


                                style="text-align: center">

                            <!-- how many days has past until today -->
                            <span th:text="${topic.baseDate}">
                                </span>
                            <br />
                            <span th:text="${topic.baseDateMillisYmd}">
                                </span>
                            <br />
                            <span  th:text="${'Base date: '
                                                    + T(java.time.format.DateTimeFormatter)
                                                    .ofPattern('yyyy-MM-dd')
                                                    .format(topic.baseDate.atStartOfDay(zoneId))
                                                     }">

                            </span>
                            <br/>
                            <p>
                                The base date is optionally determined by the user.
                                <br/>
                                If a base date is specified, statistical calculations are made starting from that date, not from the last data date.
                            </p>
                        </td>
                    </th:block>
                </div>


            </span>







        <span class="col-2">

                <!-- colon sayisini 12 ye tamamlamak icin bu span-->

        </span>

        <span class="col-2" style="background-color:FloralWhite;">

                <!-- chart -->
                <div style="max-width:200px;max-height:200px;margin-left:auto;margin-right:auto;">
                    <canvas id="status1Chart" ></canvas>
                </div>

                <!-- some statistics -->
                <table style="border:1px;border-collapse: collapse;margin-left:auto;margin-right:auto;">
                    <caption style="text-align:center;color:DarkGray !important;">
                        Entry statuses between today and 365 days ago
                    </caption>
                    <thead>
                    <tr>
                        <th>Weekday</th>
                        <th>Note</th>
                        <th>Done</th>
                        <th>Warn</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="i : ${#numbers.sequence(0, 6)}">

                        <td th:text="${dayNames[i]}"
                            th:style="${todayWeekIndex == i} ? 'background-color: lightyellow;' : ''">
                        </td>

                        <td th:text="${status0[i]}"></td>
                        <td th:text="${status1[i]}"></td>
                        <td th:text="${status2[i]}"></td>
                    </tr>
                    <tr>
                        <td><b>Total</b></td>
                        <td th:text="${totalStatus0}" class="status-0" style="font-weight:bold;"></td>
                        <td th:text="${totalStatus1}" class="status-1" style="font-weight:bold;"></td>
                        <td th:text="${totalStatus2}" class="status-2" style="font-weight:bold;"></td>


                    </tr>
                    </tbody>
                </table>

            </span>

        <!-- Streaks Bolumu -->
        <span class="col-2" style="background-color:WhiteSmoke;">


                <span style="text-align:center;color:DarkGray !important;">Streak stats between today and 365 days ago<br/>
                Streaks are calculated for consecutive days only.</span>


            <!-- newsest streak (closest to today) chart -->
                <th:block th:if="${newestStreak != null}">
                    <!-- newest streak chart -->
                    <table style="width: 100%">
                        <caption style="text-align:center;color:DarkGray !important;">
                            Last Streak (closest to today)
                        </caption>
                        <tbody>



                          <tr style="height: 30px;">
                                <!-- Start Date -->
                               <td style="width: 100px; text-align: right; padding-right: 2px;">
                                    <small th:text="${T(java.time.format.DateTimeFormatter)
                                                        .ofPattern('yy-MM-dd')
                                                        .format(newestStreak.startDate.atStartOfDay(zoneId))}"></small>
                                </td>

                                      <!-- Bar with Count -->
                                <td style="width: 100%; text-align: center; background-color:WhiteSmoke;">
                                    <div
                                            th:style="'background-color: #e35b93 !important; height: 20px; color: white !important;
                                     text-align: center !important; font-weight: bold; margin:auto;
                                     width:' + ${newestStreak.width} + 'px;'"
                                            th:text="${newestStreak.dayCount}"
                                            th:title="${newestStreak.percentage + ' % (percentage over ' + totalDays + ' days)'}"></div>
                                </td>

                                      <!-- End Date -->
                               <td style="width: 100px; text-align: left; padding-left: 2px;">
                                    <small th:text="${T(java.time.format.DateTimeFormatter)
                                                        .ofPattern('MM-dd')
                                                        .format(newestStreak.endDate.atStartOfDay(zoneId))}"></small>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </th:block>


            <!-- top streaks chart -->
                <table style="width: 100%">
                    <caption style="text-align:center;color:DarkGray !important;">
                        Top Streaks (closest unique one)
                    </caption>
                    <tbody>



                    <tr th:each="streak : ${uniqueTopStreaks}" style="height: 30px;">
                        <!-- Start Date -->
                        <td style="width: 100px; text-align: right; padding-right: 2px;">
                            <small th:text="${T(java.time.format.DateTimeFormatter)
                                                .ofPattern('yy-MM-dd')
                                                .format(streak.startDate.atStartOfDay(zoneId))}"></small>
                        </td>

                        <!-- Bar with Count -->
                        <td style="width: 100%; text-align: center; background-color:WhiteSmoke;">
                            <div
                                    th:style="'background-color: #e35b93 !important; height: 20px; color: white !important;
                             text-align: center !important; font-weight: bold; margin:auto;
                             width:' + ${streak.width} + 'px;'"
                                    th:text="${streak.dayCount}"
                                    th:title="${streak.percentage + ' % (percentage over ' + totalDays + ' days)'}"></div>
                        </td>

                        <!-- End Date -->
                        <td style="width: 100px; text-align: left; padding-left: 2px;">
                            <small th:text="${T(java.time.format.DateTimeFormatter)
                                                .ofPattern('MM-dd')
                                                .format(streak.endDate.atStartOfDay(zoneId))}"></small>

                        </td>
                    </tr>
                    </tbody>
                </table>

                <br />

            <!-- trend intervals chart ikinci varyasyon-->
            <!-- <canvas  th:if="${topic.someTimeLater != null && topic.someTimeLater > 0}"
                     id="intervalChart2" width="150" height="75"></canvas>
            -->





            </span>



        <!-- Success Rate bolumu -->
        <span class="col-2">

                <!-- filter-form'da pivot tabledaki kodlar, prediction, warn, done, not marked tarihlerini gösterir. -->
                <table class="table table-sm">
                    <caption style="color:DarkGray !important;text-align:center;">
                        (This table is not limited to 365 days).<br/>

                        <th:block th:if="${topic.someTimeLater != null && topic.someTimeLater > 0}">
                            Prediction is set to every <span th:text="${topic.someTimeLater}"
                                                             class="status-3" style="text-align: center; font-size:2em;">
                            </span> days<br/>
                        </th:block>

                        <th:block th:if="${topic.someTimeLater == null || topic.someTimeLater == 0}">
                            Prediction is not set.

                        </th:block>

                    </caption>
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Days</th>
                    </tr>

                    </thead>
                    <tbody>


                    <!-- firstWarningEntryDate varsa -->
                    <tr th:if="${topic.firstWarningEntryDate != null or !#strings.isEmpty(topic.firstWarningEntryDate)}">



                        <td th:text="${T(java.time.format.DateTimeFormatter)
                                                .ofPattern('yyyy-MM-dd')
                                                .format(topic.firstWarningEntryDate.atStartOfDay(zoneId))}"

                            class="status-2" style="text-align: center">
                        </td>

                        <td>First Warn</td>

                        <td th:title="${'First Warn: '
                                                + T(java.time.format.DateTimeFormatter)
                                                .ofPattern('yyyy-MM-dd')
                                                .format(topic.firstWarningEntryDate.atStartOfDay(zoneId))
                                                + ' ('
                                                +  T(java.time.temporal.ChronoUnit)
                                    .DAYS.between( T(java.time.LocalDate).now(zoneId), topic.firstWarningEntryDate )
                                                + ' days)' }"
                            class="first-warn"
                            style="text-align: center">

                            <!-- how many days has past until today -->
                            <span th:text="${T(java.time.temporal.ChronoUnit)
                                    .DAYS.between( T(java.time.LocalDate).now(zoneId), topic.firstWarningEntryDate ) }">
                            </span>
                        </td>


                    </tr>


                    <!-- firsFutureNeutralEntryDate varsa -->
                    <tr th:if="${topic.firstFutureNeutralEntryDate != null or !#strings.isEmpty(topic.firstFutureNeutralEntryDate)}">



                        <td th:text="${T(java.time.format.DateTimeFormatter)
                                                .ofPattern('yyyy-MM-dd')
                                                .format(topic.firstFutureNeutralEntryDate.atStartOfDay(zoneId))}"

                            class="status-0" style="text-align: center">
                        </td>

                        <td title="upcoming note only appears if it is between today and the future.">Upcoming Note</td>

                        <td th:title="${'Upcoming in: '
                                                + T(java.time.format.DateTimeFormatter)
                                                .ofPattern('yyyy-MM-dd')
                                                .format(topic.firstFutureNeutralEntryDate.atStartOfDay(zoneId))
                                                + ' ('
                                                +  T(java.time.temporal.ChronoUnit)
                                    .DAYS.between( T(java.time.LocalDate).now(zoneId), topic.firstFutureNeutralEntryDate )
                                                + ' days)' }"
                            class="upcoming-note"
                            style="text-align: center">

                            <!-- how many days has past until today -->
                            <span th:text="${T(java.time.temporal.ChronoUnit)
                                    .DAYS.between( T(java.time.LocalDate).now(zoneId), topic.firstFutureNeutralEntryDate ) }">
                            </span>
                        </td>


                    </tr>

                    <!-- predictionDate varsa -->
                    <tr th:if="${topic.predictionDate != null or !#strings.isEmpty(topic.predictionDate)}">

                        <td th:text="${T(java.time.format.DateTimeFormatter)
                                                .ofPattern('yyyy-MM-dd')
                                                .format(topic.predictionDate.atStartOfDay(zoneId))}"

                            class="status-3" style="text-align: center">
                        </td>

                        <td>Prediction</td>

                        <td
                                class="status-3" style="text-align: center">
                            <!-- how many days has past until today -->
                            <span th:text="${T(java.time.temporal.ChronoUnit)
                                    .DAYS.between( T(java.time.LocalDate).now(zoneId), topic.predictionDate ) }">
                            </span>
                        </td>



                    </tr>

                    <!-- lastPastEntryDate varsa -->
                    <tr th:if="${topic.lastPastEntryDate != null or !#strings.isEmpty(topic.lastPastEntryDate)}">


                        <td th:text="${T(java.time.format.DateTimeFormatter)
                                                .ofPattern('yyyy-MM-dd')
                                                .format(topic.lastPastEntryDate.atStartOfDay(zoneId))}"

                            class="status-1" style="text-align: center">
                        </td>

                        <td>Last Done</td>

                        <td th:title="${'Last done: '
                                                + T(java.time.format.DateTimeFormatter)
                                                .ofPattern('yyyy-MM-dd')
                                                .format(topic.lastPastEntryDate.atStartOfDay(zoneId))
                                                + ' ('
                                                +  T(java.time.temporal.ChronoUnit)
                                    .DAYS.between(topic.lastPastEntryDate, T(java.time.LocalDate).now(zoneId))
                                                + ' days before)' }"
                            class="last-done"
                            style="text-align: center">

                            <!-- how many days has past until today -->
                            <span th:text="${T(java.time.temporal.ChronoUnit)
                                    .DAYS.between(T(java.time.LocalDate).now(zoneId), topic.lastPastEntryDate)}">
                            </span>
                        </td>


                    </tr>
                    </tbody>

                </table>


                <th:block th:if="${topic.someTimeLater != null && topic.someTimeLater > 0}">
                <h3 th:if="${patternSuccessRate != null}"
                    th:text="${'Success Rate: ' + T(java.lang.Math).round(patternSuccessRate * 100) + ' %'}"
                    title="It is the percentage ratio of those with and without at least one 'done entry' in each
                    section, after dividing the days between the first 'done entry' date and 'todays date' by the
                    'prediction date'.">
                </h3>
                <span th:if="${patternSuccessRate != null}"
                      th:utext="${patternSuccessText}"
                ></span>
                </th:block>
                <th:block th:if="${topic.someTimeLater == null || topic.someTimeLater <= 0}">
                <h3 th:if="${patternSuccessRate != null}"
                    th:text="${'Fill Rate: ' + T(java.lang.Math).round(patternSuccessRate * 100) + ' %'}"
                    title="It is the occupancy rate of the days in the date range from the first 'done' entry to today.">
                </h3>
                <span th:if="${patternSuccessRate != null}"
                      th:utext="${patternFillText}"
                ></span>
                </th:block>



            </span>



    </div>





    <!-- trend intervals chart ikinci varyasyon -->
    <!--
    <script th:inline="javascript" th:if="${topic.someTimeLater != null && topic.someTimeLater > 0}">
        /*<![CDATA[*/
            var intervals3 = [[${intervals}]];
            var labels3 = intervals3.map(function(_, idx) {
                return "T-" + (intervals3.length - 1 - idx);
            });

            var target3 = [[${topic.someTimeLater}]];

            // Her noktaya özel renk: 4–6 gün arası yeşil, diğerleri kırmızı
            var pointColors3 = intervals3.map(function(val) {
                return (val >= 4 && val <= 6) ? 'green' : 'red';
            });

            var ctx3 = document.getElementById('intervalChart2').getContext('2d');

            var chart3 = new Chart(ctx3, {
                type: 'line',
                data: {
                    labels: labels3,
                    datasets: [
                        {
                            label: 'Aralık (Gün)',
                            data: intervals3,
                            borderColor: 'blue',
                            backgroundColor: 'rgba(0, 0, 255, 0.1)',
                            tension: 0.3,
                            pointRadius: 5,
                            pointBackgroundColor: pointColors3,
                            pointBorderColor: pointColors3
                        },
                        {
                            label: 'Hedef Gün ([[${topic.someTimeLater}]])',
                            data: Array(intervals3.length).fill(target3),
                            borderColor: 'green',
                            borderDash: [5, 5],
                            borderWidth: 1,
                            pointRadius: 0
                        }
                    ]
                },
                options: {
                    responsive: true,
                    plugins: {
                        title: {
                            display: true,
                            text: 'Alışkanlık Günlük Aralık Grafiği (Renkli Noktalar)'
                        },
                        legend: {
                            position: 'top'
                        }
                    },
                    scales: {
                        y: {
                            beginAtZero: true,
                            title: {
                                display: true,
                                text: 'Gün Aralığı'
                            }
                        },
                        x: {
                            title: {
                                display: true,
                                text: 'Zaman (Geriye Doğru)'
                            }
                        }
                    }
                }
            });
        /*]]>*/
    </script>
    -->








    <!-- streak chart -->
    <script>
        (() => {
            const existingChart = Chart.getChart("streakChart");
            if (existingChart) {
                existingChart.destroy();
            }

            const labels = /*[[${labelsJson}]]*/ [];
            const dataValues = /*[[${dataJson}]]*/ [];

            const data = {
                labels: labels,
                datasets: [{
                    label: 'Gün Sayısı',
                    data: dataValues,
                    backgroundColor: 'rgba(33, 99, 132, 0.6)',
                    borderColor: 'rgba(33, 99, 132, 1)',
                    borderWidth: 1,
                    barThickness: 20
                }]
            };

            const config = {
                type: 'bar',
                data: data,
                options: {
                    indexAxis: 'y',
                    responsive: true,
                    plugins: {
                        legend: { display: false },
                        tooltip: {
                            callbacks: {
                                label: ctx => ` ${ctx.raw} gün`
                            }
                        }
                    },
                    scales: {
                        x: { beginAtZero: false }
                    }
                }
            };

            new Chart(
                document.getElementById('streakChart'),
                config
            );
        })();
    </script>


    <script th:inline="javascript">
        /*<![CDATA[*/
        var status1Counts = [[${status1}]];
        var labels = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];

        new Chart(document.getElementById('status1Chart'), {
            type: 'pie',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Status 1 Entries',
                    data: status1Counts,
                    backgroundColor: [
                        '#FF6384', '#36A2EB', '#FFCE56', '#4BC0C0',
                        '#9966FF', '#FF9F40', '#66BB6A'
                    ]
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Distribution of entries marked as "Done" by day of the week'
                    }
                }
            }
        });
        /*]]>*/
    </script>


</div>

