<!--/*
This file is part of the DailyTopicTracker project.
Please refer to the project's README.md file for additional details.
https://github.com/turkerozturk/springtopiccalendar
*/-->
<div th:fragment="fragtable(filteredItems, tableId)" xmlns:th="http://www.thymeleaf.org" th:remove="tag">


    <div class="table-wrapper">


    <table th:id="${tableId}" class="status-table" style="white-space: nowrap;">
        <thead>
        <tr>
            <th style="min-width:150px;">Category Group</th>
            <th style="min-width:150px;">Category</th>
            <th style="width:30px; min-width:30px; max-width:30px;" title="row counter">#</th>
            <th style="width:45px; min-width:45px; max-width:45px;">Days</th>
            <th style="width:115px; min-width:115px; max-width:115px;">Date</th>
            <th style="min-width:150px;">Topic</th>
            <th style="width:30px; min-width:30px; max-width:30px;" title="Status">S</th>
            <th style="min-width:150px;">Entry Note</th>
            <th style="width:20px; min-width:20px; max-width:20px;">📅</th>
            <th style="width:20px; min-width:20px; max-width:20px;"><i class="fa-solid fa-gear" style="color: #FFD43B;"></i></th>
            <th style="width:20px; min-width:20px; max-width:20px;">☰</th>




        </tr>
        </thead>
        <tbody>
        <tr th:each="item, iStats : ${filteredItems}"
            th:class="${item.dateLocal} == ${today} ? 'highlight-today' : 'normal-table-row'">

            <td th:text="${item.topic.category.categoryGroup.name}"
                th:title="${item.topic.category.categoryGroup.name}">Category Group</td>

            <td>
                <a th:href="'/categories/info/' + ${item.topic.category.id}"
                   th:text="${item.topic.category.name}"
                   th:title="${item.topic.category.name}"
                   th:classappend="${item.topic.category.archived} ? ' css-archived' : ''">Category</a>
            </td>




            <!--/* thymeleaf in satir no indeksi ozelligi(sifirdan baslar)*/-->
            <td th:if="${item.topic.weight < 0}"
                th:text="${#numbers.formatInteger(iStats.index + 1, 3)}"
                th:title="'Topic Weight = ' + ${item.topic.weight}"
                th:classappend="${item.topic.weight} < 0 ? 'negative-weighted-entry' : ''">
            </td>

            <td th:if="${item.topic.weight == 0}"
                th:text="${#numbers.formatInteger(iStats.index + 1, 3)}"
                th:title="'Topic Weight = ' + ${item.topic.weight}"
                th:classappend="${item.topic.weight} == 0 ? 'normal-weighted-entry' : ''">
            </td>

            <td th:if="${item.topic.weight > 0}"
                th:text="${#numbers.formatInteger(iStats.index + 1, 3)}"
                th:title="'Topic Weight = ' + ${item.topic.weight}"
                th:classappend="${item.topic.weight} > 0 ? 'positive-weighted-entry' : ''">
            </td>


            <!--/* DAYS sutunu. */-->
            <td th:title=" 'status: ' + ${item.status}"

                style="text-align: center;">

                <!--/* firsFutureNeutralEntryDate varsa */-->
                <th:block th:if="${item.status == 0}">
                <span th:title="${'Upcoming in: '
                                        + T(java.time.format.DateTimeFormatter)
                                        .ofPattern('yyyy-MM-dd')
                                        .format(item.topic.firstFutureNeutralEntryDate.atStartOfDay(zoneId))
                                        + ' ('
                                        +  T(java.time.temporal.ChronoUnit)
                            .DAYS.between( T(java.time.LocalDate).now(zoneId), item.topic.firstFutureNeutralEntryDate )
                                        + ' days)' }"
                      class="upcoming-note"
                      style="text-align: center">

                    <!--/* how many days has past until today */-->
                    <span th:text="${T(java.time.temporal.ChronoUnit).DAYS.between(T(java.time.LocalDate).now(zoneId), item.topic.firstFutureNeutralEntryDate) > 0
                   ? '+&nbsp;' + #numbers.formatInteger(T(java.time.temporal.ChronoUnit).DAYS.between(T(java.time.LocalDate).now(zoneId), item.topic.firstFutureNeutralEntryDate), 3)
                   : (T(java.time.temporal.ChronoUnit).DAYS.between(T(java.time.LocalDate).now(zoneId), item.topic.firstFutureNeutralEntryDate) < 0
                      ? '-&nbsp;' + #numbers.formatInteger(T(java.time.temporal.ChronoUnit).DAYS.between(T(java.time.LocalDate).now(zoneId), item.topic.firstFutureNeutralEntryDate) * -1, 3)
                      : '  0') }">
                    </span>

                </span>
                </th:block>

                <!--/* lastPastEntryDate varsa */-->
                <th:block th:if="${item.status == 1 && item.topic.lastPastEntryDate!= null}">
                <span th:title="${'Last done: '
                                        + T(java.time.format.DateTimeFormatter)
                                        .ofPattern('yyyy-MM-dd')
                                        .format(item.topic.lastPastEntryDate.atStartOfDay(zoneId))
                                        + ' ('
                                        +  T(java.time.temporal.ChronoUnit)
                            .DAYS.between(item.topic.lastPastEntryDate, T(java.time.LocalDate).now(zoneId))
                                        + ' days before)' }"
                      class="last-done"
                      style="text-align: center">

                    <!--/* how many days has past until today */-->

                    <span th:text="${T(java.time.temporal.ChronoUnit).DAYS.between(T(java.time.LocalDate).now(zoneId), item.topic.lastPastEntryDate) > 0
                   ? '+&nbsp;' + #numbers.formatInteger(T(java.time.temporal.ChronoUnit).DAYS.between(T(java.time.LocalDate).now(zoneId), item.topic.lastPastEntryDate), 3)
                   : (T(java.time.temporal.ChronoUnit).DAYS.between(T(java.time.LocalDate).now(zoneId), item.topic.lastPastEntryDate) < 0
                      ? '-&nbsp;' + #numbers.formatInteger(T(java.time.temporal.ChronoUnit).DAYS.between(T(java.time.LocalDate).now(zoneId), item.topic.lastPastEntryDate) * -1, 3)
                      : '  0') }">
                    </span>

                </span>
                </th:block>

                <!--/* firstWarningEntryDate varsa */-->
                <th:block th:if="${item.status == 2}">
                <span th:title="${'Last done: '
                                        + T(java.time.format.DateTimeFormatter)
                                        .ofPattern('yyyy-MM-dd')
                                        .format(item.topic.firstWarningEntryDate.atStartOfDay(zoneId))
                                        + ' ('
                                        +  T(java.time.temporal.ChronoUnit)
                            .DAYS.between( T(java.time.LocalDate).now(zoneId), item.topic.firstWarningEntryDate )
                                        + ' days)' }"
                      class="first-warn"
                      style="text-align: center">

                    <!--/* how many days has past until today */-->

                    <span th:text="${T(java.time.temporal.ChronoUnit).DAYS.between(T(java.time.LocalDate).now(zoneId), item.topic.firstWarningEntryDate) > 0
                   ? '+&nbsp;' + #numbers.formatInteger(T(java.time.temporal.ChronoUnit).DAYS.between(T(java.time.LocalDate).now(zoneId), item.topic.firstWarningEntryDate), 3)
                   : (T(java.time.temporal.ChronoUnit).DAYS.between(T(java.time.LocalDate).now(zoneId), item.topic.firstWarningEntryDate) < 0
                      ? '-&nbsp;' + #numbers.formatInteger(T(java.time.temporal.ChronoUnit).DAYS.between(T(java.time.LocalDate).now(zoneId), item.topic.firstWarningEntryDate) * -1, 3)
                      : '  0') }">
                    </span>

                </span>
                </th:block>

                <!--/* predictionDate varsa */-->
                <th:block th:if="${item.status == 3}">

                    <th:block th:if="${item.topic.predictionDate != null or !#strings.isEmpty(item.topic.predictionDate)}">
                        <!--/* how many days has past until today */-->
                        <span th:text="${T(java.time.temporal.ChronoUnit).DAYS.between(T(java.time.LocalDate).now(zoneId), item.topic.predictionDate) > 0
                   ? '+&nbsp;' + #numbers.formatInteger(T(java.time.temporal.ChronoUnit).DAYS.between(T(java.time.LocalDate).now(zoneId), item.topic.predictionDate), 3)
                   : (T(java.time.temporal.ChronoUnit).DAYS.between(T(java.time.LocalDate).now(zoneId), item.topic.predictionDate) < 0
                      ? '-&nbsp;' + #numbers.formatInteger(T(java.time.temporal.ChronoUnit).DAYS.between(T(java.time.LocalDate).now(zoneId), item.topic.predictionDate) * -1, 3)
                      : '  0') }">
                    </span>

                        <!--/* 2b) Eğer o güne yalnızca synthetic entry (status==3) eklenmişse */-->





                    </th:block>
                </th:block>







            </td>







            <!--/* DATE sutunu */-->
            <!--/* entry gercekse bu td yi koy*/-->

            <td>
                <span
                   th:text="${#temporals.format(item.dateLocal, 'yyyy-MM-dd EEE')}">Date</span>
            </td>





            <!--/* TOPIC sutunu */-->
            <td>
                <span
                   th:text="${#strings.abbreviate(item.topic.name, 27)}"
                   th:title="${item.topic.name}"

                >
                    Topic
                </span>
            </td>



            <!--/* Renkli STATUS sutunu*/-->
            <td th:title=" 'status: ' + ${item.status}"
                th:class=" 'status-' + ${item.status} "
                style="text-align: center;">




                <!--/* eger gercek entry ise edit linki gosterilir */-->
                <th:block th:if="${item.status != 3}">

                    <th:block th:if="${categoryGroupId == null}">
                        <a th:href="@{/entries/editByDate
                                            (
                                            ymd=${#temporals.format(item.dateLocal, 'yyyy-MM-dd')},
                                            topicId=${item.topic.id},
                                            categoryGroupId=${item.topic.category.categoryGroup.id},
                                            returnPage='reporttable'
                                            )
                                            }"
                           th:title="${#temporals.format(item.dateLocal, 'yyyy-MM-dd')}"
                           class="add-new-entry">&nbsp;✎&nbsp;</a>
                    </th:block>
                    <th:block th:if="${categoryGroupId != null}">
                        <a th:href="@{/entries/editByDate
                                            (
                                            ymd=${#temporals.format(item.dateLocal, 'yyyy-MM-dd')},
                                            topicId=${item.topic.id},
                                            categoryGroupId=${categoryGroupId},
                                            returnPage='cg'
                                            )
                                            }"
                           th:title="${#temporals.format(item.dateLocal, 'yyyy-MM-dd')}"
                           class="add-new-entry">&nbsp;✎&nbsp;</a>
                    </th:block>


                </th:block>

                <!--/* predictionDate varsa */-->
                <th:block th:if="${item.status == 3}">
                    <th:block th:if="${categoryGroupId == null}">
                        <th:block th:if="${item.topic.predictionDate != null or !#strings.isEmpty(item.topic.predictionDate)}">
                            <!--/* 2b) Eğer o güne yalnızca synthetic entry (status==3) eklenmişse */-->
                            <a th:href="@{/entries/new(topicId=${item.topic.id},
                                               dateYmd=${#temporals.format(item.dateLocal, 'yyyy-MM-dd')},
                                               categoryId=${item.topic.category.id},
                                               categoryGroupId=${item.topic.category.categoryGroup.id},
                                               returnPage=reporttable
                                               )}"
                               title="Add New Entry"
                               class="add-new-entry">&nbsp;+&nbsp;</a>

                        </th:block>
                    </th:block>
                    <th:block th:if="${categoryGroupId != null}">
                        <th:block th:if="${item.topic.predictionDate != null or !#strings.isEmpty(item.topic.predictionDate)}">
                            <!--/* 2b) Eğer o güne yalnızca synthetic entry (status==3) eklenmişse */-->
                            <a th:href="@{/entries/new(topicId=${item.topic.id},
                                               dateYmd=${#temporals.format(item.dateLocal, 'yyyy-MM-dd')},
                                               categoryId=${item.topic.category.id},
                                               categoryGroupId=${categoryGroupId},
                                               returnPage='cg'
                                               )}"
                               title="Add New Entry"
                               class="add-new-entry">&nbsp;+&nbsp;</a>

                        </th:block>
                    </th:block>
                </th:block>







            </td>



            <!--/* ENTRY NOTE */-->
            <td>

                <th:block th:if="${item.entry != null && item.entry.note != null}">
                    <!--/* bu htmx in javascripti report-all-statuses.html sayfasinda. bu kodlar entries-list.html'de de var. */-->
                    <span   style="cursor: pointer;"
                            class="note-snippet"
                            th:attr="hx-get=@{/entries/{id}/note-full(id=${item.entry.id})}"
                            hx-trigger="click"
                            hx-target="#noteModal .modal-body"
                            hx-swap="innerHTML">
                      <span th:text="${item.entry.note != null ? #strings.abbreviate(item.entry.note.content, 37) : ''}">
                        Entry Note as Snippet
                      </span>
                    </span>
                </th:block>


            </td>


            <td>
                <a
                        th:href="@{/entries/weekly-calendar?topicId={id}(id=${item.topic.id})}"
                        th:attr="hx-get=@{/entries/weekly-calendar(topicId=${item.topic.id}, fragment='true')}"

                        hx-target="#modal-content"
                        hx-trigger="click"
                        hx-swap="innerHTML"
                        onclick="document.getElementById('modal').style.display='block'; return false;"
                        th:text="'📅'">
                    View Weekly Calendar
                </a>
            </td>

            <td>
                <a th:href="@{/entry-filter/form?categoryId={id}(id=${item.topic.category.id})}"
                   title="Click to open the Tracker gage"
                   ><i class="fa-solid fa-gear" style="color: #FFD43B;"></i></a>
            </td>

            <td>
                <a th:href="@{/entries(topicId=${item.topic.id})}"
                   th:title="${'Click to view ' + item.topic.name + ' entries.'}">
                    ☰
                </a>
            </td>


        </tr>
        </tbody>
    </table>


    </div> <!--/* end of table-wrapper */-->






</div>