<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <!--
        This file is part of the DailyTopicTracker project.
        Please refer to the project's README.md file for additional details.
        https://github.com/turkerozturk/springtopiccalendar
        -->

        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon-180x180.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">

        <title>CherryTree WebViewer</title>

        <div th:replace="~{common/meta :: headerMeta}"></div>

        <div th:replace="~{common/meta :: headerCssLibraries}"></div>

        <section layout:fragment="pageSpecificCssStyles"></section>

    </head>

    <body>


        <div th:replace="~{common/header :: header}"></div>

        <section layout:fragment="content"></section>

        <div th:replace="~{common/footer :: footer}"></div>

        <div th:replace="~{common/footer :: footerJsLibraries}"></div>

        <section layout:fragment="pageSpecificJsScripts"></section>

    </body>

</html>

