<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--
    This file is part of the DailyTopicTracker project.
    Please refer to the project's README.md file for additional details.
    https://github.com/turkerozturk/springtopiccalendar
    -->
    <meta charset="UTF-8">
    <title>Daily Topic Tracker</title>


    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/css/all.min.css}">


</head>
<body>

<div class="container my-5 mx-auto" style="max-width: 600px;">
    <h1 class="mb-4" th:text="#{software.name}">Daily Topic Tracker</h1>

    <!-- Lorem Ipsum Açıklama -->
    <p>
        <span th:text="#{welcome.message}">
            This is the main page. For more info, visit the website.
        You need to create one or more categories, one or more topics, and then you can add entries for the topics.
        </span>
    </p>

    <!-- Bağlantılar (List Group) -->
    <div class="list-group">
        <a href="category-groups" class="list-group-item list-group-item-action" th:text="#{category.groups}">
            Category Groups
        </a>
        <a href="categories" class="list-group-item list-group-item-action" th:text="#{categories}">
            Categories
        </a>
        <a href="topics" class="list-group-item list-group-item-action" th:text="#{topics}">
            Topics
        </a>

        <a href="entries" class="list-group-item list-group-item-action" th:text="#{entries}">
            Entries
        </a>

        <a href="entry-filter/form" class="list-group-item list-group-item-action link-primary" th:text="#{tracker}">
            Tracker
        </a>

        <a href="languages" class="list-group-item list-group-item-action link-success" th:text="#{change.language}">
            Change Language
        </a>

        <a href="https://github.com/turkerozturk/springtopiccalendar" target="_blank"
           class="list-group-item list-group-item-action link-secondary"
           th:text="#{website} + ' - DailyTopicTracker V1.0.2 - Türker Öztürk'">Website</a>.

    </div>
</div>

<script type="text/javascript"
        th:src="@{/webjars/bootstrap/5.3.5/js/bootstrap.min.js}"></script>
</body>
</html>
