<!DOCTYPE html>
<html lang="en">
<html
        xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*
    This file is part of the DailyTopicTracker project.
    Please refer to the project's README.md file for additional details.
    https://github.com/turkerozturk/springtopiccalendar
    */-->
    <title>Settings</title>

    <meta charset="UTF-8">


    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <!--/* favicon */-->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon-180x180.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/css/all.min.css}">



    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap-datepicker/dist/css/bootstrap-datepicker.css}">

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/datatables/2.3.0/css/dataTables.jqueryui.min.css}">


</head>
<body>

<div class="container mt-4">

    <div class="d-flex justify-content-between mb-3">



        <h2><!-- Sol tarafta logo veya Home -->
            <a class="navbar-brand" href="/" target="_self">🏠 Home</a> | Daily Topic Tracker
        </h2>


        <button class="btn btn-primary"
                id="btnAdd">
            Add Setting
        </button>

    </div>

    <table id="settingsTable"
           class="table table-bordered table-striped">

        <thead>
        <tr>
            <th>ID</th>
            <th>Key</th>
            <th>Value</th>
            <th width="180">Actions</th>
        </tr>
        </thead>

        <tbody>

        <tr th:each="s : ${settings}">

            <td th:text="${s.id}"></td>

            <td class="setting-key"
                th:text="${s.key}"></td>

            <td class="setting-value"
                th:text="${s.value}"></td>

            <td>

                <button class="btn btn-sm btn-warning btn-edit"
                        th:data-id="${s.id}">
                    Edit
                </button>

                <button class="btn btn-sm btn-danger btn-delete"
                        th:data-id="${s.id}">
                    Delete
                </button>

            </td>

        </tr>

        </tbody>

    </table>

</div>

<!-- Modal -->

<div class="modal fade"
     id="settingModal"
     tabindex="-1">

    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Setting</h5>

                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">

                <input type="hidden" id="settingId">

                <div class="mb-3">

                    <label class="form-label">
                        Key
                    </label>

                    <input type="text"
                           class="form-control"
                           id="settingKey">

                </div>

                <div class="mb-3">

                    <label class="form-label">
                        Value
                    </label>

                    <textarea class="form-control"
                              id="settingValue"
                              rows="4"></textarea>

                </div>

            </div>

            <div class="modal-footer">

                <button class="btn btn-secondary"
                        data-bs-dismiss="modal">
                    Cancel
                </button>

                <button class="btn btn-primary"
                        id="btnSave">
                    Save
                </button>

            </div>

        </div>

    </div>

</div>


<script type="text/javascript" th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>

<script type="text/javascript"
        th:src="@{/webjars/bootstrap/5.3.7/js/bootstrap.min.js}"></script>

<script type="text/javascript" th:src="@{/webjars/bootstrap-datepicker/dist/js/bootstrap-datepicker.js}"></script>

<script type="text/javascript" th:src="@{/webjars/htmx.org/dist/htmx.min.js}"></script>

<script type="text/javascript" th:src="@{/webjars/datatables/2.3.0/js/dataTables.js}"></script>

<!-- https://datatables.net/plug-ins/sorting/turkish-string -->
<script src="https://cdn.datatables.net/plug-ins/2.3.2/sorting/turkish-string.js"></script>


<!-- <script type="text/javascript" th:src="@{/webjars/datatables/2.3.0/js/dataTables.bootstrap5.min.js}"></script> -->


<script>

    const csrfHeader = document.querySelector('meta[name="_csrf_header"]').content;
    const csrfToken = document.querySelector('meta[name="_csrf"]').content;
    $.ajaxSetup({
        beforeSend: function (xhr) {
            xhr.setRequestHeader(csrfHeader, csrfToken);
        }
    });


    const table = new DataTable('#settingsTable');

    const modalElement = document.getElementById('settingModal');

    const modal = new bootstrap.Modal(modalElement);

    $('#btnAdd').click(function () {

        $('#settingId').val('');
        $('#settingKey').val('');
        $('#settingValue').val('');

        modal.show();
    });

    $(document).on('click', '.btn-edit', function () {

        const row = $(this).closest('tr');

        const id = $(this).data('id');

        const key = row.find('.setting-key').text().trim();

        const value = row.find('.setting-value').text().trim();

        $('#settingId').val(id);
        $('#settingKey').val(key);
        $('#settingValue').val(value);

        modal.show();
    });

    $('#btnSave').click(function () {

        $.post('/settings/save', {
            id: $('#settingId').val(),
            key: $('#settingKey').val(),
            value: $('#settingValue').val()
        })
        .done(function () {

            location.reload();

        })
        .fail(function (xhr) {

            alert(xhr.responseText || 'Save error');

        });
    });

    $(document).on('click', '.btn-delete', function () {

        if (!confirm('Delete this setting?')) {
            return;
        }

        const id = $(this).data('id');

        $.post('/settings/delete/' + id)
            .done(function () {

                location.reload();

            })
            .fail(function () {

                alert('Delete error');

            });
    });

</script>

</body>
</html>