<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:hx="http://www.w3.org/1999/xhtml">
<head>
    <!--
    This file is part of the DailyTopicTracker project.
    Please refer to the project's README.md file for additional details.
    https://github.com/turkerozturk/springtopiccalendar
    -->

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon-180x180.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- 3) backend’inize döndürttüğünüz Thymeleaf fragment’i (örneğin entry-filter/topics-by-category.html içinde) -->
<!--   Bu fragment offcanvas-body içine yüklenecek. -->
<!--   topics model attribute’u bir List<Topic> nesnesi olsun, categoryId de fragment’e atanmış olsun. -->
<!-- filter-form.html sayfasinda sol tarafta offcanvas icinde gorunur bu fragment. once bir kategori secip
filtre yapmak gerekir, sonra da pivot tablodaki topic sutun basligindaki arti isaretike tiklamak gerekir o zaman
 gorunur. topics eleman sayisi 20 den fazla ise scrollable-topics-table diye isimlendirdigimiz css sinifi devreye girer
 css kodu filter-form.html sayfasindadir. -->
<div th:fragment="topicList">



    <a th:href="@{/topics/create(categoryId=${categoryId},returnPage=pivottable)}">Create A New Topic</a>
    <br/>

    <br/>
    <h5 class="offcanvas-title">OR add an entry</h5>

    <div
            th:classappend="${#lists.size(topics) > 20} ? ' scrollable-topics-table' : ''"
            class="mb-3">
        <table class="table table-borderless table-sm mb-0">
            <tbody>
            <tr th:each="topic : ${topics}">
                <td>
                    (+)
                    <a th:href="@{/entries/new(
                  topicId=${topic.id},
                  returnPage='pivottable',
                  categoryId=${categoryId}
                )}"
                       th:text="${topic.name}">
                        Topic Name
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

</body>
</html>